<div class="mmc-category-full-info">

    <h3>Приключенческие фильмы</h3>

    <div class="intro">
        Приключенческие фильмы занимают особую нишу в киноиндустрии. Жанр обладает рядом подкатегорий, для которых характерна напряженная атмосфера, героям следует выбраться из сложных, возникнувших ситуаций, проявить смекалку и хитрость. Фильмы о приключениях могут быть сняты в различных жанрах: боевик, фэнтези, комедия, драма, триллер, фантастика. Жанры могут быть объединены между собой, что позволяет заинтересовать еще большую категорию зрителей.
    </div>

    <h3 class="section-title">
        История возникновения и развития жанра
    </h3>

    <div class="content">
        <p>
            Приключенческие фильмы возникли на фоне одноименного жанра в литературе. Романы на приключенческий мотив положили начало для драматургии в этом направлении. Риск для жизни главных героев, сложные ситуации, непредсказуемость, опасность и в конечном итоге интересный финал, все это держит в напряжении зрителя до последних минут фильма. 
        </p>
        <p>
            Первым фильмом в данном жанре принято считать "Большое ограбление поезда", снятый в 1903 году. Этот фильм также относят к вестернам, так как события разворачиваются на диком Западе. Спустя несколько десятков лет, в 20-30-х годах, сюжетная линия получает новое разветвление от вестернов в приключенческом стиле до гангстерских фильмов. Эталоном гангстерского стиля можно считать фильм "Крестный отец". В этот же период зарождается и триллер, также приключенческий жанр, который заставляет застывать в жилах кровь у смотрящих фильм. Главным маэстро в этом направлении является Хичкок, одна из его знаменитых работ - "Психоз". 
        </p>
        <p>
            Следом появляются детективные сюжеты, взятые из романов Эдгарда По и Конан Дойла. Фильмы приключения с детективным сюжетом остаются востребованными и сегодня, зрителю интересно участвовать в расследовании и искать разгадку таинственного события. 
        </p>
        <p>
            Фильмы-путешествия также стали частью приключенческого жанра. Сюжет основывается на опасности, которая подстерегает главных героев, отправившихся в путешествие в Джунгли, остров и т.д. Либо случайная катастрофа, которая приводит к тому, что герои оказываются среди дикарей или на необитаемом острове, где им предстоит выжить. Ярким примером подобного жанра является приключенческий сериал "Лост" или "Остаться в живых", два сезона, снимающихся с 2004 по 2010 год, держали в полном оцепенении своих зрителей. 
        </p>
        <p>
            В 70-х особую популярность набрали фильмы-катастрофы. Сюда входят сюжеты про природные катаклизмы: землетрясения, цунами, смерчи, обледенения и т.д. Также крушения самолетов, кораблей и другое. 
        </p>
    </div>

    <h3 class="section-title">
        Лучшие приключенческие фильмы
    </h3>

    <div class="content">
        <p>
            Сложно среди многообразия картин определить лучшие фильмы в данном жанре, исходя из количества наград, оценок зрителей и рейтингов известных кинопорталов, был составлен топ лучших фильмов приключения:
        </p>

        <ul>
            <li>
                "Изгой" - приключенческая драма с Томом Хэнксом в главной роли. Актер получил золотой глобус за лучшую мужскую роль в фильме. Сюжет рассказывает о сотруднике службы доставки, который тратит все свое время на работу, не оставляя себе возможности на личную жизнь, но однажды его жизнь кардинально меняется...
            </li>
            <li>
                "Пираты Карибского моря". Увлекательный фильм экшн с массой спецэффектов. Джонни Депп сыграл главную роль в фильме - капитана Джека Воробья, пирата, отправляющегося на поиски богатств, а вот, что его ждет, приключения - это уж точно. Было выпущено пять частей картины и кто знает, может это еще не придел?
            </li>
            <li>
                "Жизнь Пи" - приключенческая драма, которая получила премию "Оскар" в разных номинациях. История рассказывает о том, как юный парень после кораблекрушения очутился в лодке посреди океана в компании с тигром, зеброй, гиеной и орангутаном, какова дальнейшая судьба парня по имени Пи?
            </li>
            <li>
                "Жизнь не может быть скучной" - комедийный фильм о приключении трех друзей, которые еще в детстве пообещали, что проведут свои мальчишники вместе и необычно. Вот и наступил тот момент, когда один из них решил жениться, самое время отправляться в путешествие в Испанию, где жизнь трех индийских ребят кардинально поменяется...
            </li>
            <li>
                "Выживший" - фильм соединил три жанра: триллер, драму, приключения. Сюжет рассказывает об охотнике, которому пришлось сражаться с силами природы за собственную жизнь. В главной роли Леонардо Ди Каприо, который получил "Оскар" и "Золотой глобус" за лучшую мужскую роль. 
            </li>
            <li>
                "127 часов" - приключенческий фильм, который продержит вас в напряжении с первой до последней минуты. Скалолаз и покоритель самых страшных каньонов, отправившись очередной раз в путь в гордом одиночестве, попадает в ловушку, застряв между двух ущелий. Надежды на выживание просто нет, пробыв 127 часов без воды, еды и шанса на спасение, у героя появляется сила характера, которая и решит его судьбу: выжить или умереть..
            </li>
            <li>
                "Властелин колец" - приключенческий фильм фэнтези, получивший массу кинонаград. Трилогия о кольце Всевластии, собрала миллионы зрителей в кинотеатрах, поразив спецэффектами, сюжетом и звездным составом актеров.
            </li>
            <li>
                "Гарри Поттер" - знаменитая картина для детей и взрослых, где силы добра борются против зла. Спасет ли Гарри Поттер мир? 
            </li>
            <li>
                "Мумия" - кинотрилогия, сюжет которой основан на приключениях отважного капитана, который мечтает отыскать богатства, исследуя египетские пустыни. Но не все так просто, отчаянного героя подстерегают мистические опасности, с которыми ему придется вести бой в неравной борьбе;
            </li>
            <li>
                "Назад в будущее", как и в случае многих успешных картин, этот фильм не стал единственным, режиссер выпустил три части киноленты. Приключенческая комедия для всей семьи. Первую часть зрители увидели еще в 1985 году. Сюжет рассказывает о путешествии старшеклассника на машине времени, что же увидел парнишка, может еще 30 лет назад режиссер знал о нашем будущем?
            </li>
            <li>
                "Бриллиантовая рука" - 1968 год. В Советском союзе также могли снимать отличные приключенческие фильмы, одним из которых является знаменитая работа Гайдая - "Бриллиантовая рука". Эта комедия, рассказывает о приключениях обычного советского гражданина за рубежом. Что же с ним там произошло, с удовольствием смогут посмотреть и дети, и взрослые. 
            </li>
        </ul>
        <p>
            Смотреть фильмы приключения всегда интересно и захватывающе, какой бы жанр в них не доминировал: комедия, драма, триллер, экшн или боевик. Все они переносят нас в другую реальность, позволяя вместе с героями картины почувствовать себя искателем приключений, попробовать выжить или отправиться в забавное путешествие.
        </p>
        <p>
            Смотреть приключенческие фильмы онлайн в хорошем качестве вы можете на нашем сайте в удобное для вас время. На нашем кинопортале вас ждут лучшие фильмы про приключения, а также кино из других жанров. Приятного просмотра!
        </p>
    </div>

</div>