<div class="mmc-category-full-info">

    <div class="intro">
        Любители смотреть anime online наверняка никогда не задумывались об особенностях создания этого жанра и его характерных чертах. Сейчас пришло время исправить этот недочёт.
    </div>

    <h3 class="section-title">
        История возникновения
    </h3>

    <div class="content">
        <p>
            Аниме – это японская анимация, которая впервые появилась в начале XX века, предпосылкой для создания этого жанра стали эксперименты кинорежиссеров с техниками мультипликации. В число первых аниме вошла картина «Namakura-gatana», она была снята в комедийном жанре, и длилось всего 2 минуты. А первым полнометражным мультфильмом в стиле аниме, стала картина «Momotarou: Umi no Shinpei», она появилась только в 1945 году благодаря Мицуё Сэо.
        </p>
        <p>
            Основателем того аниме, которые сейчас присутствует на экранах, является Осаму Тэдзука, именно он посчитал необходимым рисовать у мультипликационных героев большие глаза и делать их более эмоциональными. Его первой работой в подобном формате стала манга «Shintakarajima».
        </p>
        <p>
            А уже с 1970 года, в Японии стали разделять аниме на различные группы:
        </p>
        <ul>
            <li>
                кодомо – детский сериал;
            </li>
            <li>
                сёнэн – сериалы для молодых людей;
            </li>
            <li>
                сёдзё – аниме для девушек;
            </li>
            <li>
                сэйнен – взрослое аниме;
            </li>
            <li>
                юри и яой – аниме романтика.
            </li>
        </ul>
    </div>

    <h3 class="section-title">
        Сюжетная линия
    </h3>
    <div class="content">
        <p>
            Мультипликационные картины, которые представлены на обозрение зрителей в разделе «anime online», характеризуются абсолютно разными сюжетными линиями, которые изменяются в зависимости от фантазии сценаристов и режиссера. При просмотре аниме онлайн довольно часто можно увидеть описание группы крови и дня рождения персонажа, в Японии считается, что именно эти данные отвечают за формирование характера человека.
        </p>
        <p>
            Полнометражные аниме могут описывать как жизнь в параллельных реальностях и особенности космоса, так и представлять персонажей, проживающих на территории известного всем Токио. Выделяют даже мультипликационные картины, которые описывают исторические события.
        </p>
        <p>
            Но существуют и моменты, которые характерны для разных видов аниме. К примеру, в сериале для парней, главный герой на протяжении всей картины собирает друзей и помощников, изучает различные направления в боевых искусствах. Параллельно с этим, герой справляется с различными мелкими неурядицами, чтобы в итоге одержать победу над главным врагом. На этом моменте сериал либо кончается, либо появляется другой враг, ещё более сильный.
        </p>
        <p>
            Независимо от того какую именно разновидность аниме выбрал человек для просмотра, мультипликационное произведение мотивирует его, оставаться более стойким, упорным и нравственным человеком.
        </p>
    </div>

    <h3 class="section-title">
        Съемка аниме
    </h3>
    <div class="content">
        <p>
            Те мультипликационные картины, которые зрители могут смотреть в разделе «anime online», выпускаются в анимационных студиях, а их создание финансируется крупными компаниями. На создание аниме клипов, как правило, дается очень мало времени, поэтому аниматоры не уделяют внимания исправлению мелких ошибок. В случае с создание полнометражных картин, то здесь исправлению недочётов уделяется гораздо больше внимания, но и сроки менее сжатые.
        </p>
        <p>
            В большинстве случаев, частота кадров мультипликационного произведения варьируется от 8 до 12 кадров за секунду, но при выпуске более совершённых аниме, частота кадров увеличивается до 24.
        </p>
        <p>
            На территории Японии насчитывается 430 студий, по выпуску аниме. Изредка они могут совместно работать над одной картиной.
        </p>
        <p>
            Если аниме претендует на мировую известность, то выпуск мультфильма сопровождается продажей сопутствующих продуктов в виде футболок с лицами любимых героев или же игрушек. К сожалению, посмотреть такое аниме онлайн, можно только по прошествии нескольких месяцев.
        </p>
    </div>

    <h3 class="section-title">
        Лучшие мультфильмы в стиле аниме
    </h3>
    <div class="content">
        <p>
            Любителям аниме смотреть онлайн, стоит уделить внимание следующим популярным картинам:
        </p>
        <ol>
            <li>
                «Хвост феи». Юная волшебница Люси Хартфили с детства мечтает поступить в легендарную гильдию магов «Хвост Феи», но для того чтобы сделать это нужно получить рекомендации от любого из её действующих членов. Узнав об этом, девушка бросает свой замок и отправляется на поиски мага.
            </li>
            <li>
                «Наруто». Главным героем мультфильма является подросток-ниндзя Наруто Удзумаки, который обладает шумным и позитивным характером, но поскольку он носит в своём теле девятихвостого демона-лиса, все жители деревни, избегают мальчика. Пытаясь добиться расположения жителей деревни, мальчик ставит перед собой цель стать самым выдающимся ниндзя.
            </li>
            <li>
                «Тёмный дворецкий». Действия аниме происходят в Викторианской Англии, где проживает молодой граф Сиэль Фантомхайв, родители которого погибли в странном пожаре. Граф имеет верного дворецкого Себастьяна Микаэлиса, который всегда готов прийти на помощь своему хозяину, даже если тому нужно разгадать странные происшествия, происходящие в городе.
            </li>
            <li>
                «Стальной алхимик». В поселении Ризенбур проживает два брата – Элрики-Эдвард и Альфонс, первый из которых после смерти матери, желает оживить её и для этого начинает изучать алхимию. Но попытка вернуть мать обернулась провалом, Альфонс полностью потерял своё тело, а Элрики остался без руки и ноги, теперь их цель расширилась, они желают не только оживить мать, но и вернуть собственные тела.
            </li>
            <li>
                «Озорной поцелуй». Мультфильм рассказывает о зарождении любви между подростками Котоко и Ириэ. Изначально влюблённой была только девушка, но после произведённого поцелую, постепенно зарождаются и чувства молодого человека, будет ли эта история со счастливым концом, остается только догадываться.
            </li>
        </ol>
        <p>
            Для более детального ознакомления с этими мультфильмами можно просто посмотреть anime online.
        </p>
    </div>

</div>