<div class="mmc-category-full-info">

    <div class="intro">
        <p>
            Сложно представить современного ребенка, который не любит смотреть мультфильмы. Доступность и возможность современных технологий в анимации, дала широкие возможности мультиндустрии, а вместе с ней возможность всем наслаждаться просмотром любимых мультиков. А начиналось все еще в начале 20 века, когда были выпущены первые короткометражные анимации, на их создание уходила масса времени и усилий. 
        </p>
        <p>
            Все сказочники мира отмечают свой профессиональный праздник 28 октября — это международный день анимации. За более чем сто лет существования анимации, жанр эволюционировал с движущихся картинок в полноценные красочные мультфильмы с сюжетной линией. 
        </p>
    </div>

    <h3 class="section-title">Начало развития мультипликационного жанра</h3>

    <div class="content">
        <p>
            Первые попытки создать анимацию из картинок были еще до начала 20 века, но полноценное развитие мультфильмов стартовало в 1908 году, после того, как появились первые фотографии. Рисунок или предмет фотографировали, нужно было создать 24 кадра в секунду, чтобы оживить на экране тот или иной предмет. Если рассматривать рисованный мультик, художник рисовал 24 картинки, после чего они фотографировались и создавалась 1 секунда мультфильма. 
        </p>

        <p>
            Один из первых мультфильмов стал "Динозавр Герти", он был создан в 1914 году. Последующие анимации выпускались в 20-х годах, представляли собой короткометражки до 10 минут. К концу двадцатых годов, процесс немного упростился, с появлением целлулоидной пленки, которая позволила переводить рисунки. 
        </p>
    </div>

    <h3 class="section-title">Создание студии Уолта Диснея</h3>

    <div class="content">
        <p>
            Первые зарубежные мультфильмы, которые появились на отечественных экранах, стали как раз работой студии Уолта Диснея. Поколения детей, росших в 90-х годах, были прикованы к экранам телевизоров в ожидании новой серии мультсериала "Скруджа Макдака", "Тома и Джери" или "Чип и Дейла", спешащих на помощь. Даже сегодняшние дети в восторге от мультипликации данной студии, они продолжают смотреть мультфильмы Диснея, и каждый из них мечтает попасть в Диснейлен, сказочный мир, созданный по мотивам сюжетов Уолта Диснея. 
        </p>
        <p>
            Первым творением студии стал рисованный персонаж Микки Маус. Первый мультфильм с его участием вышел в 1928 году, под названием "Сумасшедший самолет", спустя десять лет, сердца, как маленьких, так и взрослых зрителей покорил полнометражный мультик "Белоснежка и семь гномов", вышедшая на экраны в 1938 году. Создавался этот шедевр того времени четыре года, и считался самой дорогой картиной в мире. После ее выхода, студия начала выпускать волну полнометражных мультфильмов, за счет чего за Уолтом Диснеем закрепился статус законодателя мультипликации.
        </p>
        <p>
            В 50-е годы выпускаются такие шедевры, как:
            <ul>
                <li>"Золушка"</li>
                <li>"Спящая красавица"</li>
                <li>"Алиса в стране Чудес"</li>
                <li>"Питер Пен"</li>
            </ul>
        </p>
        <p>
            Застойным периодом для мультипликационной империи стали 60-е и 70-е года. В 66 году ушел из жизни сам основатель империи, спустя пять лет и его брат.
        </p>
        <p>
            Ситуация с застоем в мультипликационной деятельности компании изменилась в 1984 году, когда студия была продана другим владельцам. В начале девяностых выходят культовые зарубежные мультфильмы, которые смотрят дети и сегодня — это "Король Лев", "Золушка", "Красавица и Чудовище". 
        </p>
        <p>
            С приходом нового тысячелетия, конкуренцию Диснеевской студии составила компания Pixar, которая удивила своими цифровыми технологиями, были выпущены такие картины, как:
            <ul>
                <li>"Корпорация монстров"</li>
                <li>"Вверх"</li>
                <li>"История игрушек"</li>
                <li>"В поисках Немо"</li>
                <li>"Рататуй" и др.</li>
            </ul>
        </p>
        <p>
            Дисней сотрудничал с Pixar, в результате одного из конфликтов, компания Pixar была выкуплена студией Дисней более чем за 7 млрд долларов.
        </p>
    </div>

    <h3 class="section-title">Что же происходит в "Союзмультфильме"?</h3>

    <div class="content">
        <p>
            Развитие зарубежных мультфильмов, шло быстрыми темпами, а что же с отечественной анимацией? Индустрия мультипликации в СССР началась в 1936 году, по указу самого Сталина. Буквально за год, студия начинает выпускать цветные мультфильмы, что требует немалых вложений в данную отрасль. Власти хотели, чтобы "Союзмультфильм" не уступал по своим технологиям, Диснеевской студии.
        </p>
        <p>
            В 50-х годах, Союз начинает использовать новую технологию анимации. Сначала снимает художественный фильм с актерами, после художник обрисовывает каждый кадр, создавая мультфильм. Одним из таких мультфильмов стал "Аленький цветочек". В эти же годы выпускаются такие культовые мультики, как:
            <ul>
                <li>"Снежная королева"</li>
                <li>"12 месяцев"</li>
                <li>"Каштанка"</li>
            </ul>
        </p>
        <p>
            Конец 60-х для "Союзмультфильма" стал новым витком рассвета, в отличии от Диснея. В это время появляются такие мультфильмы:
            <ul>
                <li>"Винни Пух"</li>
                <li>первые серии "Ну Погоди"</li>
                <li>"Малыш и Карлсон"</li>
                <li>"Бременские музыканты"</li>
            </ul>
        </p>
        <p>
            В семидесятых, советские дети начинают смотреть мультфильмы, такие как: "Чебурашка и Гена", "Ежик в тумане", "Маугли", "Цветик-семицветик" и др. В 80-х, развивающиеся поколение детей ждут следующие новинки "Союзмультфильма", среди них:
            <ul>
                <li>"Остров сокровищ"</li>
                <li>"Каникулы в Простоквашено"</li>
                <li>"Пес в сапогах"</li>
                <li>"Алиса в стране Чудес" и "Алиса в Зазеркалье"</li>
                <li>"Спасибо, доктор!" и др.</li>
            </ul>
        </p>
        <p>
            В 90-х, после развала СССР, студия продолжила работу, как российская компания, но количество культовых мультфильмов было сокращено в разы. В эти года были выпущены: "Незнайка на Луне", "Приключения в Изумрудном городе", "Кот в сапогах". В двухтысячных годах выпускаются старые, но любимые мультфильмы, на новый лад, такие как: "Винни-пух и все, все, все", "Дядя Федор и все, все, все" и т.д.
        </p>
        <p>
            Сейчас все эти картины доступны, как мультфильмы онлайн. Любой из них вы можете смотреть вместе с детьми дома в онлайн режиме. 
        </p>
    </div>

    <h3 class="section-title">Лучшие из лучших</h3>

    <div class="content">
        <p>
            По мнению OFCS, был создан список лучших мультфильмов за всю историю анимации. Список состоит из 100 мультфильмов, он был составлен при помощи 138 рецензентов общества сетевых кинокритиков. Предлагаем смотреть мультфильмы из данного списка, в него вошли:
            <ul>
                <li>История игрушек</li>
                <li>Фантазия</li>
                <li>Пиноккио</li>
                <li>Король Лев</li>
                <li>Побег из курятника</li>
                <li>Шрек</li>
                <li>Бэмби</li>
                <li>Аладдин</li>
                <li>Дамбо</li>
                <li>Русалочка</li>
                <li>Лило и Стич</li>
                <li>Тарзан и др.</li>
            </ul>
        </p>
        <p>
            Смотреть мультфильмы в хорошем качестве и с хорошим сюжетом, созданные в течение века зарубежным и отечественным кинематографом, вы можете на нашем сайте в онлайн режиме.
        </p>
        <p>
            Мультфильмы онлайн — это прекрасная возможность занять детей, включив им развивающие мультики в хорошем качестве. Лучшие мультфильмы по дате выпуска вы найдете на нашем сайте. Приятного просмотра всей семьей!
        </p>
    </div>
</div>