<div class="mmc-category-full-info">

    <h3>Классика кино</h3>

    <div class="intro">
        Кинематограф занимает важное место в искусстве. Каждая эпоха запоминается определенными картинами. Классика кино не имеет жанра, года выпуска и ряда определенных премий и наград. Есть просто фильмы, вошедшие в историю кинематографа, как шедевры, которые можно пересматривать бесчисленное количество раз, открывая для себя новый и новый смысл. Классика кино онлайн доступна вам для просмотра на нашем сайте в хорошем качестве. Предлагаем вам ТОП лучших фильмов, которые можно по праву отнести к культовым картинам XX века.
    </div>

    <h3 class="section-title">
        Советское кино, ставшее классикой
    </h3>

    <div class="content">
        <p>
            Киноиндустрия СССР не имела столь глобального бюджета для съемок фильмов, не было в Союзе и невероятных спецэффектов, но это не помешало культовым режиссерам снять фильмы, которые сталь классикой. Кино СССР снималось в разных жанрах, чаще всего это были смысловые фильмы про любовь и жизненные трудности, военные картины, которые стали особенно актуальны после ВОВ, а также советские комедии, остающиеся невероятно популярными и сегодня. Каждая работа по-своему особенная, представляем вам часть наиболее запоминающихся и культовых фильмов советского кинематографа:
        </p>
        <ul>
            <li>
                "Броненосец "Потемкин" - 1925 год. Военная драма, основанная на реальных исторических фактах. Сюжет выражает главные социальные тенденции начала XX века, а именно, борьбу с тиранией, стремление к свободе и равноправию. Картина с глубоким смыслом, которую можно смело отнести к классике советского кино.
            </li>
            <li>
                "Карнавальная ночь" - 1956 год. Фильм Эльдара Рязанова стал классикой юмора СССР. В преддверии Нового Года в клубе должен пройти праздник, работники хотят сделать его веселым и незабываемым, а вот директор клуба, настаивает на своем плане с художественной самодеятельностью местных талантов и его личными выступлениями. Работники не хотят такого скучного празднования и затевают настоящий карнавал.
            </li>
            <li>
                "Кавказская пленница" - 1966 год. Советская комедия, покорившая своей искренностью и душевностью. Комедия и мелодрама для всей семьи, легкий отдыхающий фильм расскажет о "комсомолке, спортсменке и просто красавице" в лице Наталии Варлей. Юмористическая история судьбоносной встречи на Кавказе главных героев Шурика и Нины не оставит равнодушных никого. 
            </li>
            <li>
                "Белое солнце пустыни" - 1970 год. Советский боевик и комедия в одной ленте. Красноармеец, Федор Сухов, отслужив возвращался домой. Путь его был длинным, через пустыню, но не суждено ему было прийти к цели без приключений, которые уже ждали его по пути к дому.
            </li>
            <li>
                "А зори здесь тихие" - 1972. Историческая, военная драма, повествующая о 1942 году ВОВ. Фильм рассказывает про отважных, молодых девушках-зенитчиц, которые под управлением старшины Федота Васкова решили захватить фашистов, не зная, что их ждет впереди...
            </li>
            <li>
                "Ирония судьбы, или С легким паром!" - 1975 год. Трудно представить советский Новый Год без традиционного блюда "Оливье", "Сельдь под шубой" и, конечно же, новогодней картины Эльдара Рязанова, "Ирония судьбы, или С легким паром!". Даже сегодня российское телевидение не обходится без этой классики советского кино. 
            </li>
            <li>
                "Москва слезам не верит" - 1979 год. Классик фильм советского времени. Трогательная история, вызывала слезы у всех советских женщин, ведь каждая узнавала в главных героинях свою судьбу. Мелодрама с нотками комедии обладает глубоким смыслом, заслугой выхода шедевра стала режиссерская работа Владимира Меньшова. Сюжет рассказывает о судьбе трех подруг, которые отправились покорять столицу, что же из этого вышло, как сложилась судьба каждой девушки, вы узнаете, посмотрев классику кино онлайн на нашем сайте.
            </li>
        </ul>
    </div>

    <h3 class="section-title">
        Классика зарубежного кино
    </h3>
    <div class="content">
        <p>
            Мировое наследие кинематографа невозможно вложить в рамках одной статьи, но все же, есть картины, которые достойны особого внимания:
        </p>
        <ul>
            <li>
                "Золотая лихорадка" - 1925. Чарльз Чаплин стал настоящим классиком киноиндустрии XX века. Маленький бродяга отправляется на поиски золота, где будет удивлять своего зрителя различными комическими ситуациями и трюками.
            </li>
            <li>
                "Унесенные ветром" - 1939. Это настоящая классика американского кино. Военная мелодрама, рассказывающая историю юной, красивой и умной девушки, Cкарлет. Ей пришлось в 16 лет стать взрослой и решительной не по годам, так как на улице Гражданская война, но ее тревожит совершенно другое, так как ее возлюбленный должен жениться на своей кузине, но Скарлет не готова так просто отдать свою любовь и будет за нее бороться...
            </li>
            <li>
                "В джазе только девушки" - 1959. Классика кино онлайн, где в музыкальной комедии, сыграла одну из главных ролей очаровательная и сексуальная Мэрилин Монро. Развитие сюжета происходит в Чикаго в 30-х годах. Два музыканта оказываются случайными свидетелями убийства, чтобы не стать следующими жертвами убийцы им приходится переодеться в девушек и присоединиться к джазовому оркестру, в котором играют только женщины...
            </li>
            <li>
                 "Бонни и Клайд" - 1967 год. Молодая девушка Бонни влюбляется в недавно освободившегося из тюрьмы Клайда, вместе они организовывают свою группировку и отправляются грабить банки. Практически неуловимые любовники оказываются под особым вниманием полиции, удастся ли им избежать тюрьмы?
            </li>
            <li>
                "Крестный отец" - 1972. Криминальная драма, вошедшая в историю мирового кинематографа. Вито Корлеоне отдает замуж свою дочь, лидер мафиози за сицилийским обычаем в этот день не может отказать в просьбе о помощи никому из гостей, чем закончится данная история вы узнаете посмотрев классику кино онлайн.
            </li>
            <li>
                "Пролетая над гнездом кукушки" - 1975. Классик фильм в стиле американской драмы, рассказывающей историю о Макмерфи, главном герое, который играет с законом. Очередной раз оказавшись на грани тюремного заключения, он прикидывается психически нездоровым и отправляется в психиатрическую лечебницу, где и начинается самое интересное...
            </li>
            <li>
                "Титаник" - 1997 год, картина мирового уровня, вошедшая в список классических фильмов. Невероятная история о легендарном лайнере, который потерпел крушение в своем первом рейсе. Фильм рассказывает о величайшей трагедии века и прекрасной молодой влюбленной паре, которой не было суждено остаться вместе.
            </li>
        </ul>
        <p>
            Классика кино онлайн в хорошем качестве доступна на нашем сайте, приятного просмотра!
        </p>
    </div>

</div>