<div class="mmc-category-full-info">
    <div class="intro">
        <p>
            Документальный жанр кино зародился вместе с кинематографом. За основу таких фильмов берутся реальные съемки, различные исторические события, научные факты и гипотезы, т.д. На сегодняшний день смотреть документальный фильм стало намного интереснее, благодаря появлению специальной техники, которая расширила возможности съемки. Например, оборудование для съемки под водой позволило показать зрителю подводный мир и ее обитателей, также съемка в космосе, приоткрыла занавес неизведанного. 
        </p>
        <p>
            Популярность данного жанра велика, что подтверждается различными кинофестивалями, наиболее известные из них проходят в Москве, Санкт-Петербурге, Кракове и Бильбао. Это лишь несколько мест, где проводят подобные фестивали, которые имеют мировой масштаб. 
        </p>
    </div>

    <h3 class="section-title">Для чего снимают документальное кино?</h3>

    <div class="content">
        <p>
            Документальный фильм в большей части состоит из фактов и реальных съемок. Режиссер может дополнять фильм постановочными элементами и различными инсценировками для увеличения интереса зрителей к просмотру, создания интриги и т.д. 
        </p>
        <p>
            Документальные картины можно классифицировать согласно задачам, которые они хотят донести до своего зрителя:
            <ul>
                <li>исследования: наблюдения за животными, растительным миром, исторические сюжеты</li>
                <li>обучающие фильмы</li>
                <li>пропаганда чего-либо: религия, политика, внедрение технологии и т.д.</li>
                <li>хроника - наблюдение за чем-то конкретным на протяжении длительного времени</li>
                <li>публицистика</li>
            </ul>
        </p>
        <p>
            Все поджанры документалистики имеют одну общую цель, как можно больше рассказать людям о мире, в котором мы живем. 
        </p>
        <p>
            Образовательные фильмы являются одним из поджанров документалистики. Как правило, они используются для показа в учебных заведениях, особенно на Западе, но все чаще подобные показы встречаются и в странах СНГ. Согласно наблюдениям специалистов, было выявлено, что, просмотрев фильм, ребенок усваивает информацию лучше, чем тоже самое, но произнесенное учителем. Так как при просмотре задействовано сразу два вида памяти: зрительная и слуховая, а при рассказе, лишь слуховая. 
        </p>
        <p>
            Художественно-документальный фильм объединяет в себе реальные кадры событий, о которых идет речь в картине, а также игру актеров, в тех моментах, где не хватает отснятого материала. 
        </p>
        <p>
            Докудрама - этот жанр не совсем можно отнести к документальным, но его часто с ним сравнивают. Документальная драма воспроизводит исторические события путем игры драматических актеров. В таких фильмах часто рассказывается о становлении и падении империй, например, такая кинолента, как "Древний Рим: Расцвет и падение империи". О жизни королей и королев, их правлении. Скорее такие картины можно отнести к историческому жанру.
        </p>
        <p>
            Псевдодокументальное кино — это постановочный игровой фильм, в котором описываются несуществующие события, выдаваясь за документальную съемку. К подобным картинам можно отнести: "Ведьмы из Блэр", "Первые на Луне" и т.д. 
        </p>
    </div>

    <h3 class="section-title">Развитие документального жанра в СССР</h3>

    <div class="content">
        <p>
            Смотреть документальный фильм в СССР могли граждане страны, как правило, с направленностью пропаганды. Такие фильмы служили интересам великим правителям государства, носили смысл коммунистической пропаганды. 
        </p>
        <p>
            Наиболее популярны в середине прошлого века были киножурналы, их показывали перед началом художественного фильма. Такие еженедельники напоминают современные новости дня. Если происходили масштабные, важные события, по их сводкам готовились отдельные репортажи, например, "Пятнадцатый партсъезд" или "Приезд Горького".
        </p>
    </div>

    <h3 class="section-title">Лучшие документальные картины</h3>

    <div class="content">
        <p>
            Смотреть документальный фильм может быть не только познавательно, но и невероятно интересно, особенно, когда речь идет о культовых документальных сериалах и фильмах. Среди мировых шедевров невозможно не отметить некоторые великие работы:
            <ul>
                <li>
                    "Одиссея Жака Кусто". Настоящее произведение века, съемки документального сериала шли с 1968 по 1976 год. Кусто и его команда бороздили морские глубины открывая новые факты о их обитателях
                </li>
                <li>
                    "Океаны". Этот фильм стал неким продолжением работы Жака Кусто. Картину увидели зрители в 2009 году, съемки продолжались более четырех лет, чтобы раскрыть неизведанный мир океанов
                </li>
                <li>
                    "Майкл Джексон: Вот и все". В картине собраны уникальные архивные кадры о жизни и творчестве поп-короля. Выпущен фильм в 2009 году
                </li>
                <li>
                    "Следствие вели..." - документальный сериал, каждая его серия рассказывает о криминальном прошлом и уголовных делах, заведенных в эпоху СССР. Сериал раскрывает тайны генсеков, страшные сведения о серийных убийцах, бандитских группировках и т.д.
                </li>
                <li>
                    "Вселенная Стивена Хокинга" - 1997 год. Совсем недавно из жизни ушел известный во всем мире физик и профессор Стивен Хокинг, но его бесценное наследие для человечества осталось. Сериал рассказывает о мыслях профессора, о размышлениях на тему "Откуда мы взялись?", "Что собой представляет Вселенная" и многое другое.
                </li>
                <li>
                    "Барака" - уникальные съемки, которые велись с 24 стран мира, с самых отдаленных участков Земли. В этом фильме вы не услышите закадровый голос или диалоги, лишь последовательность кадров и специально подобранная музыка, погружающая зрителя в этот загадочный мир. Смотреть документальный фильм "Барака" во всем мире смогли в 1992 году, в России, премьера состоялась лишь в 2013 году. Фильм открывает сознание на многие вещи вокруг нас, меняет мировоззрение, заставляя о многом задуматься. 
                </li>
            </ul>
        </p>
        <p>
            Смотреть документальный фильм можно в приятной домашней атмосфере в режиме онлайн. На нашем сайте вы сможете смотреть онлайн любимые картины прямо сейчас в хорошем качестве. 
        </p>
    </div>
</div>