<div class="mmc-category-full-info">
    <div class="intro">
        Драма, как отдельный жанр, появился не так давно, в XVIII веке, придя на смену трагедии. В отличии от трагедии, драма далеко не всегда предусматривает печальное завершение истории, скорее ее суть основывается на передаче эмоций героев. Зачастую жанр передает социальные конфликты героев сюжета, противоречие, несправедливость и отстаивания своих жизненных позиций вопреки всему.
    </div>

    <h3 class="section-title">Исторический путь драмы</h3>

    <div class="content">
        <p>
            Первый раз понятие трагедии, которое и положило начало драме, было известно много веков тому назад, но в литературном жанре. Ее основателями можно считать древнегреческих драматургов Эсхила и Софокла, которые жили и писали свои произведения еще в V веке до нашей эры. Сюжеты того времени передавали конфликты и борьбу народа с новыми общественными порядками. Чаще всего героями становились мифологические герои. Одной из самых известных трагедий Эсхила считается "Прометей прикованный", а Софокла - "Царь Эдип".
        </p>
        <p>
            Родоначальником современной трагедии считается Уильям Шекспир. Его драмы широко известны во всем мире, относятся к мировой классике и не утрачивают своей популярности ни одно десятилетие. Среди таких произведений "Ромео и Джульетта", "Гамлет", "Отелло" и др. 
        </p>
        <p>
            Последователями Шекспира стали французские драматурги, один из них - П. Корнель. Его известные работы: "Гораций", "Медея" и др. Следом в конце XVIII веке, начале XIX веке создает свои трагедии Шиллер — это "Орлеанская дева", "Мария Стюарт" и другие. 
        </p>
        <p>
            Рассматривая XVIII, XIX и XX век, драма за этот период потерпела много модификаций. Выглядело это, примерно, так:
            <ul>
                <li>
                    XVIII век - мещанская драма. Это время становление буржуазии, поэтому главными героями драматических спектаклей становились представители буржуазии. Жанр был чем-то средним между трагедией и комедией
                </li>
                <li>
                    XIX век - время реалистической драмы, соответственно, сюжетная линия в таких постановках передавала реальные события, происходящие вокруг того времени
                </li>
                <li>
                    начало XX века - символистская драма основана на философских учениях
                </li>
                <li>
                    XX век был наполнен разными модификациями жанра - экспрессионистская, сюрреалистская, также драма абсурда и т.д.
                </li>
            </ul>
        </p>
        <p>
            Сегодня драма в кинематографе, так, как и в литературе имеет свои поджанры, среди них:
            <ul>
                <li>мелодрама</li>
                <li>психологическая</li>
                <li>криминальная</li>
                <li>историческая драма</li>
            </ul>
        </p>
    </div>

    <h3 class="section-title">Топ лучших кинокартин в жанре драмы</h3>

    <div class="content">
        <p>
            Есть фильмы, которые стали мировым наследием кинематографа. Предлагаем посмотреть лучшие драмы онлайн прямо сейчас:
            <ul>
                <li>
                    "Крестный отец" - 1972 год. Криминальная драма, рассказывающая про жизнь и покушения на криминального мафиози Дон Корлеоне в период Второй мировой войны и поствоенное время
                </li>
                <li>
                    "Побег из Шоушенка" - 1994 год. Пожизненный приговор с отбыванием срока в тюрьме Шоушенк — это конец, единственным выходом является побег. Фильм удостоился шести премий "Оскар", великолепная игра актеров и пробирающий до дрожи сюжет, все это ждет вас во время просмотра этой драмы онлайн
                </li>
                <li>
                    "Список Шиндлера" - 1993 год. История уникального человека, Оскара Шиндлера, одного из членов нацисткой партии, который спас более тысячи евреев от верной гибели
                </li>
                <li>
                    "Семь самураев" - шедевр кинематографа не только Японии, но и всего мира. Снята картина была в 1954 году, сюжет описывает события XVI века в Японии. Время, когда точатся войны, чтобы защитить себя и своих родных, жители деревушки нанимают семерых самураев, они не только выступают защитниками, но и сплачивают людей из деревни
                </li>
                <li>
                    "Форрест Гамп" - история жизни, рассказывается от первого лица. Форест - слабоумный, но добрый человек, который прошел фантастический путь и стал миллионером, при этом в его жизни присутствует несчастная любовь...
                </li>
                <li>
                     "Леон" - бестселлер Люка Бессона. Профессиональный киллер, не имеющий жалости к людям, испытывает новое чувство к своей соседке, юной Матильде, но как же коротка жизнь Леона, ведь за ним охотятся
                </li>
                <li>
                    "Огни большого города" - 1931 год. Бродя встречает на своем пути девушку, торгующую цветами, это прелестное создание, увы, не может видеть. Бродяга, узнав о том, что операция поможет вернуть зрение возлюбленной, он начинает искать способы получить нужную сумму
                </li>
                <li>
                    "Спасти рядового Райна" - 1998 год. Время войны, в которой погибают три брата солдата Райна, а он сам находится в плену противников. Главнокомандующий принимает решение отправить отряд на поиски солдата, чтобы демобилизовать рядового Райна домой, к его матери
                </li>
                <li>
                    "Пианист" - 2002 год. История известного польского пианиста - Владислава Шпильмана. Являясь евреем по национальности, в период геноцида, ему приходится прятаться в руинах и переживать унижения и страдания, но один из солдатов немецкой армии, решает помочь талантливому пианисту
                </li>
                <li>
                    "Метро" - 2012 год, Россия. Русская драма, которая заставляет во время просмотра переживать трагедию вместе с героями фильма. Прорвавшаяся река в метро приводит к затоплению вагонов с людьми, кто выживет, а кто останется навсегда в подземном метро...
                </li>
            </ul>
        </p>
        <p>
            Несмотря на то, что в списке лишь один фильм российского производства, на самом деле отечественная киноиндустрия выпустила не мало русских сериалов и фильмов с драматическим сюжетом. "Брат" и "Брат 2" - драмы онлайн, которые стоит посмотреть, чтобы ощутить вкус лихих 90-х, также российские сериалы "Бригада", "Буржуй" и "Бумер", все они показывают криминальную обстановку, но имеют свою мораль и справедливость. 
        </p>
        <p>
            Также рекомендуем смотреть в хорошем качестве драмы онлайн российского кино:
            <ul>
                <li>"Орда"</li>
                <li>"Кочегар"</li>
                <li>"Легенда №17"</li>
                <li>"Груз 200"</li>
                <li>"Марш-бросок" и др.</li>
            </ul>
        </p>
        <p>
            Смотреть онлайн любимые фильмы вы можете в уютной домашней атмосфере в хорошем качестве на нашем сайте. Мы собрали для вас лучшие картины прошлого и теперешнего века, вас ждут свежие новинки 2018 года выпуска, премьеры и бестселлеры прошлых лет. 
        </p>
    </div>
</div>