<div class="mmc-category-full-info">

    <div class="intro">
        В развитых странах телевидение выступает в качестве мощного и неотъемлемого средства образования, именно поэтому на территории России всё чаще начали выпускать познавательные фильмы или познавательные передачи. Для того чтобы понять какую роль в жизни человека играют эти программы нужно детальнее разобраться с историей их возникновения и отметить самые выдающиеся кинокартины.
    </div>

    <h3 class="section-title">
        История появления
    </h3>

    <div class="content">
        <p>
            Первые познавательные фильмы появились ещё в период зарождения кинематографа и представляли собой описание интересных событий, культурных явлений, научных гипотез и фактов, а также рассказывали о биографических данных и деятельности исторических личностей. В такого рода фильмах довольно часто поднимались философские вопросы.
        </p>
        <p>
            С начала XX века, познавательные фильмы начали показывать в школах и других учреждениях Запада и США, считая, что если преподнести учебный материал в форме фильма, то его усвоение произойдет гораздо лучше. На территории Советского союза и непосредственно России, показ такого рода фильмов начался только с конца XX века, но очень быстро приобрёл популярность. Сейчас даже существует телевизионные каналы, где круглосуточно показывают познавательные программы.
        </p>
    </div>

    <h3 class="section-title">
        Сюжетная линия
    </h3>
    <div class="content">
        <p>
            Познавательные фильмы не имеют чёткой сюжетной линии, поскольку в каждой кинокартин может быть представлена особая информация.
        </p>
        <p>
            Выделяют познавательные фильмы, затрагивающие такую информацию:
        </p>
        <ul>
            <li>
                космос;
            </li>
            <li>
                теории, связанные с формой и созданием Земли;
            </li>
            <li>
                биография и интересные факты об исторических личностях;
            </li>
            <li>
                жизнь вымирающих или уже вымерших видов животных.
            </li>
        </ul>
    </div>

    <h3 class="section-title">Съемка</h3>
    <div class="content">
        <p>
            Особенность этого вида фильмов заключается в подборе жизненного или документального материала, на основе которого осуществляется создание сценария.
        </p>
        <p>
            Структура съемки может быть различной, поскольку применяется постановочная, натурная, интерьерная съемка. Широко используются архивные видео и фотоматериалы. Подобрав подходящий материал и отсняв несколько отдельных кадров их нужно смонтировать вместе, чтобы получить целостную картинку.
        </p>
        <p>
            Если снимаются познавательные мультики, то здесь задача ещё и усложняется прорисовкой каждого отдельного героя.
        </p>
    </div>

    <h3 class="section-title">
        Лучшие познавательные фильмы и мультфильмы
    </h3>

    <div class="content">
        <p>
            Если у человека возникает желание смотреть познавательные фильмы или мультфильмы перед ним становится серьёзный выбор относительно того, на какой картине остановить своё внимание. Для упрощения задачи было выделено несколько популярных фильмов и мультфильмов, которые помогут в развитии:
        </p>
        <ol>
            <li>
                «История единицы». В фильме снимается историк Терри Джонс, который отправляется в путешествие по миру, где предпримет попытки узнать историю появления и значение такого простого числа, как единица. Это развивающее видео рассказывает о том, как единица стимулировала людей на постройку величайших в мире империй, как она вдохновляла выдающихся личностей, какую роль она заняла в истории появления первых денег и самое важное, как она стала править миром после соединения с нулем.
            </li>
            <li>
                «Невероятное тело человека». Человеческое тело – это идеальная машина, которая способна функционировать даже в экстраординарных ситуациях. После просмотра этого фильма человек сможет узнать несколько тайн собственного тела и проследит, как за сутки выполняется 10 тысяч морганий, 20 тысяч вдохов и 100 тысяч биений сердца.
            </li>
            <li>
                «Путешествие на край Вселенной». Фильм рассказывает о структуре нашей Вселенной, присущих ей загадках и тайнах, всё это подкрепляется яркой графикой. Особо запоминающейся для зрителей становится структура рассказа, поскольку человек будет перенесен к истокам появления нашей вселенной, к временам возникновения Большого взрыва.
            </li>
            <li>
                 «Чудеса света». Это цикл мультфильмов, который входит в категорию «обучающие мультфильмы для детей». Здесь, мультипликационный герой тётушка Сова рассказывает детям о присутствующих в мире выдающихся местах, красочных достопримечательностях начиная от постройки пирамид в Египте и заканчивая современными достопримечательностями природы.
            </li>
            <li>
                «Почему мы видим сны?». Кинокартина рассказывает о том, что сновидения это далеко не просто фантазии, а элементы, которые непосредственно воздействуют на способности человека к обучению, его воспоминания, состояние физического и психического здоровья. Детально рассказывается о том, какой смысл доносят до человека сновидения, откуда происходит их появление.
            </li>
            <li>
                «Дом. История путешествия». Кинокартина создана людьми, которые за 18 месяцев посетили 53 страны мира. В фильме кратко рассказывается о быте стран, практически, везде съемки ведутся с воздуха, но в Китае и Саудовской Аравии съемки с воздуха запрещены, а в Индии, создатели фильма лишились практически всех отснятых по этой стране материалов.
            </li>
            <li>
                 «Древние миры». Зрителям предоставляется возможность совершить путешествие в древние миры, когда только происходило начало зарождения первых цивилизаций. На тот период все политические и религиозные взгляды только были в начале своего пути, путешествие начинается с Ирана и заканчивается Грецией.
            </li>
        </ol>
        <p>
            Познавательные фильмы и познавательные мультики значительно упростили жизнь простых людей, ведь теперь для обучения больше нет необходимости посещать библиотеки и перечитывать массу материала в попытках найти что-то подходящее. Достаточно просто посмотреть несколько развивающих фильмов и прояснить для себя картину мира.
        </p>
    </div>

</div>