<div class="mmc-category-full-info">

    <div class="intro">
        Ежегодно в прокат выходят тысячи кинофильмов разных жанров. Большую часть из них крутят в кинотеатрах, часть отправляется на фестивали, а остатки отмечены ярлыком «не для всех» и доступны только для искушенных зрителей. Последнюю категорию принято называть экспериментальным кино.
    </div>

    <h3 class="section-title">
        Что такое экспериментальное кино?
    </h3>

    <div class="content">
        <p>
            Это жанр кинематографа, который не предназначен для массовой аудитории. Зачастую он отличается нестандартным сюжетом, отсутствием линейного повествования, игнорированием стандартной кинематографической эстетики.
        </p>
        <p>
            Смотря очередной блокбастер или мелодраму в кинотеатре, зритель догадывается о дальнейшем ходе событий, поскольку существуют нерушимые правила композиции и подачи информации через видеоряд. Но если речь идет об экспериментальном кино, то о них можно навсегда забыть. Никаких правил, существует только свобода творчества и самовыражения. Именно по этой причине данный жанр часто противопоставляется документальному и коммерческому кино.
        </p>
        <p>
            Нередко зрители говорят, что экспериментальные фильмы более тяжелые для восприятия из-за отсутствия ярких цветов, вылизанных образов персонажей, ощутимой реалистичности происходящего, даже если сюжет имеет фантастические элементы. Стоит также упомянуть, что такие фильмы всегда предназначены для взрослой аудитории, поскольку истории в них поразительно откровенные, а порой даже шокирующие.
        </p>
    </div>

    <h3 class="section-title">
        Цель экспериментального кино
    </h3>

    <div class="content">
        <p>
            Видя на киноэкране одни и те же сюжеты, просто в разном антураже и исполнении, зритель пресыщается, и перестает задумываться над тем, что видит. Он поглощает ту информацию, которую ему предлагает массовый производитель, и не выносит из этого никакой пользы, кроме, пожалуй, развлечения.
        </p>
        <p>
            Экспериментальное кино призвано для того, чтобы удивить или даже шокировать зрителя, суметь привлечь его безраздельное внимание и буквально заставить вдумчиво наблюдать за происходящим на экране. Это не только способ новаторского самовыражения, но и отличный маневр для привлечения людского внимания к актуальным проблемам общества.
        </p>
        <p>
            Довольно часто такие фильмы демонстрируют реальность именно такой, какой ее привыкли видеть люди, не приукрашивая, или даже намеренно усугубляя ситуацию и подавая картинку мрачной и негативной. Также в экспериментальном кино постоянно поднимаются темы, которые не принято обсуждать в обществе, но люди, живущие с этим каждый день, очень ждут, когда подобные темы перестанут быть табуированными.
        </p>
    </div>

    <h3 class="section-title">
        Экспериментальное кино сегодня
    </h3>

    <div class="content">
        <p>
            Стоит сказать, что данный жанр уже далеко не новый. Например, «Богатая Бедняжка» Энди Уорхола вышла в 1965 году, «Сталкер» Андрея Тарковского в 1979 году, «Человек-слон» Дэвида Линча в 1980 году, а «Лабиринт страстей» Педро Альмодовара в 1982 году. Это далеко не все яркие представители данного жанра. И до, и после выходили бесподобные экспериментальные фильмы, которые определенно достойны внимания зрителя.
        </p>
        <p>
            Более того, следует отметить, что новое поколение гораздо сильнее заинтересовано в данном ответвлении кинематографа. Молодые люди охотно пускаются в эксперименты и подолгу размышляют о сюжетах, работе съемочной команды, разгадывают загадки и выносят мораль. С этим связано, например, возрождение сериала «Твин Пикс» Дэвида Линча, который спустя двадцать шесть лет после окончания получил новый сезон.
        </p>
        <p>
            Но не только такие титаны, как Педро Альмодовар и Дэвид Линч, продолжают славную традицию экспериментировать с образами, сюжетами, методами съемки, и прочими элементами кинематографа. Появляются на этом поприще и новые звезды. Например, канадский режиссер Ксавье Долан, который в двадцать один год снял фильм «Я убил свою маму» и сразу же стал любимчиком Каннского фестиваля. Сейчас ему двадцать девять лет, на его счету шесть фильмов, каждый из которых был обласкан и критиками, и зрителями. А в седьмом фильме исключительно голливудский актерский состав.
        </p>
    </div>

    <h3 class="section-title">
        Рекомендуем посмотреть
    </h3>

    <div class="content">
        <ol>
            <li>
                «Менильмонтан» - оставшись сиротами, две сестры перебрались в пригород Парижа, где попытались построить новую жизнь, но все оказалось не так просто. Их ждут серьезные испытания и трагичные события.
            </li>
            <li>
                «Богатая Бедняжка» - Эди Седжвик любит пить апельсиновый сок, делать макияж под веселую музыку, и рассказывать любопытному зрителю, как она проводит день за днем.
            </li>
            <li>
                «Мертвец» - Уильям Блэйк становится жертвой обстоятельств: за его голову назначают награду. Когда до мужчины добирается очередной охотник за головами, помощь приходит оттуда, откуда не ожидалось...
            </li>
            <li>
                «Манифесто» - тринадцать женщин, поразительно похожих друг на друга, следуют манифестам таких известных личностей, как Годар, Малевич, Кандинский, Джармуш. Их стремление к свободе и новаторству поражает.
            </li>
            <li>
                «Это всего лишь конец света» - десяток лет назад юный Луи сбежал из родного дома, чтобы строить карьеру, не оглядываясь на родственников. Но теперь он болен, и вынужден вернуться, чтобы попрощаться.
            </li>
            <li>
                «Лабиринт страстей» - обыкновенный простак Ризо неожиданно даже для себя оказывается принцем Ирана, из-за чего на него открывают охоту революционные исламисты. А девушка по имени Сексилья желает от него забеременеть, вот только проблема в том, что Ризо - гомосексуалист.
            </li>
            <li>
                «Сталкер» - ходят слухи о существовании некой комнаты, оказавшись в которой можно сделать явью свое самое заветное желание. Туда отправляются Писатель и Профессор, а их проводник - таинственный Сталкер.
            </li>
            <li>
                «Какой чудесный день» - Билл считал себя самым обыкновенным человеком, когда узнал, что унаследовал психическое заболевание. Теперь он задается только одним вопросом: стоит ли жить дальше?
            </li>
            <li>
                «Человек-слон» - Джон Меррик страдает редкой и чудовищной болезнью, которая буквально уродует его день ото дня. Помочь ему невозможно, а вот заработать и прославиться на его внешнем виде вполне.
            </li>
            <li>
                «И все же Лоранс» - тридцать пять лет Лоранс жил, как и подобает мужчине. Получил хорошее образование, нашел работу, женился. Но в один момент понял, что больше так не может, ведь на самом деле он – женщина.
            </li>
        </ol>
        <p>
            Посмотреть онлайн экспериментальные фильмы в хорошем качестве вы можете на нашем сайте в удобное для вас время. Вас ждет большая коллекция фильмов в различных жанрах для приятного просмотра!
        </p>
    </div>

</div>