<div class="mmc-category-full-info">

    <h3>Исторические фильмы</h3>

    <div class="intro">
        Исторические фильмы считаются одним из самых сложных жанров в кинематографе. Сложность состоит в отсутствии придуманного сюжета, главная задача исторической картины - передать реальную историю тех или иных событий, происходивших в разные времена. Это могут быть важные политические события, военный сюжет или отображение времен античного века, экранизация реалий Средневековья и многое другое.
    </div>

    <h3 class="section-title">
        Главные особенности исторического кино
    </h3>

    <div class="content">
        <p>
            Исторические фильмы, экранизированные по тем или иным мотивам, имеют большое число поклонников, которые интересуются историей прошлых лет. Как правило, любая картина, отснятая в данном жанре, имеет большую продолжительность более двух часов. Часто — это мини сериалы в несколько серий с немалым бюджетом. Создание качественной и интересной картины в историческом жанре требует немало усилий, ведь режиссеру необходимо передать антураж той эпохи, создать образы великих и известных исторических деятелей. Над гримом и костюмами актеров работают лучшие гримеры и костюмеры, чтобы в точности передать образ. Данный жанр способствует повышению эрудиции и расширению кругозора для смотрящих.
        </p>
        <p>
            Как правило, в таких картинах присутствует много массовки, батальные сцены, панорамные виды, захватывающие дух. Историческое кино нередко переплетается с приключенческим жанром или боевиком.
        </p>
        <p>
            Американские режиссеры больше передают в своих картинах времена Спарты, рыцарских турниров, завоевателей земель, последние пересекаются с вестернами. Для российского кино в историческом жанре больше свойственно отображение событий военного времени и политических переворотов.
        </p>
    </div>

    <h3 class="section-title">
        Поджанры исторического кино
    </h3>

    <div class="content">
        <p>
            В зависимости от сюжетной линии, выделяют различные поджанры исторических картин:
        </p>
        <ul>
            <li>
                историко-биографические. Такие ленты повествуют нам про жизненный путь великих людей, которые творили важные события для истории;
            </li>
            <li>
                историко-приключенческие — это чаще всего экранизация исторических романов. Классических произведений великих писателей прошлых лет;
            </li>
            <li>
                пеплум передает античные и библейские сюжеты, с уклоном в мифологию. Пеплум — это эпичное произведение сюжетов с большим количеством второстепенных ролей и зрелищности.
            </li>
        </ul>
    </div>

    <h3 class="section-title">
        Исторические фильмы онлайн: лучшие картины за всю историю жанра
    </h3>
    <div class="content">
        <p>
            Смотреть исторические фильмы онлайн в хорошем качестве — это возможность не просто отдохнуть и расслабиться вечером в кругу семьи, но и с пользой провести время. Ни один другой жанр не проведет вас по страницам истории, оставив в памяти интересные и важные исторические события. Прямо сейчас мы представим одни из лучших картин в историческом жанре. Все их вы можете смотреть онлайн на нашем сайте бесплатно в хорошем качестве.
        </p>
        <p>
            Топ-10 лучших картин разных годов:
        </p>
        <ul>
            <li>
                "Список Шиндлера" - 1993 год. Картина основана на событиях Холокоста, поставлена великим Стивеном Спилбергом. Драма описывает времена Холокоста и немца Шиндлера, который рискуя собственной жизнью спас от гибели большое количество людей.
            </li>
            <li>
                "Унесенные ветром". Экранизация романа была показана в 1939 году. Фильм заслужил десять премий "Оскар" и остается одной из любимых любовных картин для женщин. Любовные переживания развиваются во времена Гражданской войны в США, слезы, драма и любовь, все это подарило картине вечное признание зрителей.
            </li>
            <li>
                "Елизавета" - мощный историко-биографический фильм о правлении одной из самых могущественных, жестоких, но рассудительных королев Англии, Елизавете первой. Лента описывает события 16 века в Англии, когда совсем юная Елизавета заняла престол королевы и какую роль она сыграла для страны.
            </li>
            <li>
                "Титаник". Этот любовно-драматический фильм о судьбах людей, очутившихся в ловушке бездны океана, знаком многим. Картина вышла на экраны в 1997 году, завоевала сердца женщин и мужчин. Джеймс Кэмерон показал трагедию крушения непотопляемого корабля, добавив историю любви двух юных сердец. Титаник получил огромное количество всевозможных кинопремий.
            </li>
            <li>
                "Пианист". Фильм 2002 года, рассказывающий историю жизни великого пианиста Владислава Шпильмана. Выдержка, мужество и самоотверженность музыканта отображены в период прихода нацистов в Польшу. Мощный, драматически-исторический фильм о судьбе великого пианиста.
            </li>
            <li>
                 "Жанна Дарк". История о смелой девушке, которая в свои 19 лет спасла свой народ от гибели. События в ленте развиваются во времена Столетней войны на территории Франции. Картина заслуживает внимание, посмотреть исторические фильмы онлайн, в частности данную ленту вы можете на нашем сайте.
            </li>
            <li>
                "Клеопатра". Фильм рассказывает о самой эффектной и красивой царице Египта, Клеопатре. Сюжет рассказывает о жизни и правлении царицы. Главную роль сыграла непревзойденная Элизабет Тейлор.
            </li>
            <li>
                Они сражались за родину. Отечественная картина, снятая известным режиссером Сергеем Бондарчуком, показывает события лета 1942 года. Фильм учит ценить победу, рассказывая об отважности рядовых солдат и их любви к родине.
            </li>
            <li>
                "Д Артаньян и три мушкетера". Советский мини сериал, состоящий из трех серий, отснят был по мотиву романа "Три мушкетера". Легендарные актеры, отличная игра и отличное настроение от просмотра онлайн этой картины вам гарантировано.
            </li>
            <li>
                "Храброе сердце". Картина переносит зрителей в 1280 год. Шотландия, время оккупации государства англичанами, восстание шотландцев на фоне романтически-драматической истории любви. Фильм получил много наград "Оскар" и других серьезных кинопремий.
            </li>
            <li>
                "Гладиатор" - 2000 год. События разворачиваются в 180 году нашей эры в Римской Империи. Сюжет описывает историю непокорного самоотверженного генерала Максимуса, который становится гладиатором. Картина получила не только "Оскар", но и "Золотой глобус", премии канала МТV и др.
            </li>
        </ul>
        <p>
            Этот список можно продолжать бесконечно. Лучшие американские, российские, французские исторические фильмы онлайн ждут вас на нашем сайте. Лучшие картины в хорошем качестве ждут вас!
        </p>
    </div>

</div>