<div class="mmc-category-full-info">

    <h3>
        Ужасы
    </h3>

    <div class="intro">
        Ужасы, леденящие кровь...Этот жанр в кинематографе занимает особое место, он любим многими зрителями, что позволяет собирать миллионные просмотры и не менее внушительные гонорары. В основном о подробностях съемок фильмов ужасов, режиссеры и вся съемочная команда стараются умалчивать, чтобы сохранить интригу и интерес зрителя для просмотра. Нам удалось узнать некоторые интересные факты о съемках, а также дальнейшей трагической судьбе нескольких актеров, после игры в ужасах. Также подготовили лучшие фильмы ужасов за всю историю киноиндустрии.
    </div>

    <h3 class="section-title">
        Интересные факты про фильмы ужасов
    </h3>

    <div class="content">
        <p>
            Интересный факт! А вы знали, что люди умирают от сердечного приступа во время просмотра фильма ужасов? Статистика в США показала, что таких случаев больше, чем смертей от прыжков с парашютом.
        </p>
        <p>
            Много чего интересного можно узнать, покопавшись в истории съемок ужасов. Так, к примеру:
        </p>
        <ul>
            <li>
                фильм "Челюсти" было признано самым успешным проектом с точки зрения финансовой стороны. За прокат фильм собрал 470 млн долларов;

            </li>
            <li>
                невероятно низкий бюджет был заложен в съемку фильма "Ведьма из Блэр", всего 22 тысячи долларов, а вот заработал картина четверть миллиарда долларов. С этим фильмом было связано много слухов и домыслов. Ужасы были сняты в стиле "псевдодокументального жанра", что очень подогрело интерес зрителей. Более того, хитрым ходом создателей картины было то, что они настаивали, что все было снято в реальном времени и на реальных событиях. Конечно, это не так, но многие зрители, особенно подростки верили в реальность происходящего, что и принесло такую прибыль создателям;
            </li>
            <li>
                еще один удивительный факт про ужасы, связанные с "Ведьмой из Блэр" — это то, что картина снималась всего восемь дней, сценарий был приблизительным, дальше была импровизация актеров. Чтобы добиться максимальной правдоподобности от актеров, они находились в полевых условиях и принимали минимум пищи;
            </li>
            <li>
                Бела Лугоши - самый известный румынский "Граф Дракула", сыгравший эту знаменательную роль, еще во времена черно-белого кино, настолько вжился в образ, что завещал похоронить его в костюме Дракулы, его просьба была выполнена;
            </li>
            <li>
                первая часть известного фильма ужасов "Пила" снималась всего восемнадцать дней. А самое большое количество трупов было насчитано в фильме "Зловещие мертвецы", их количество - 174. 
            </li>
        </ul>
        <p>
            За время истории съемок ужасов происходило немало загадочных историй, некоторые из них просто потрясали своей таинственностью:
        </p>
        <p>
            так, во время съемок "Техасской резни бензопилой" происходило немало случаев, когда актеры сами проливали кровь. Кадр, где актрису подвешивают на крюк, а она кричит от боли, оказался реалистичным, так как крик был настоящим. В момент цепляния девушки на крюк не рассчитали параметры веса и крюк впился актрисе в плечо. Было и много различных мелких неурядиц на съемочной площадке, но больше всего был поражен режиссер, когда вбежала гадалка и начала кричать, что на площадке находится не похороненный мертвец и он зол.
        </p>
        <p>
            После чего режиссер понял в чем дело, так как вместо пластикового муляжа для съемок кадров со скелетом использовался настоящий скелет человека, привезенный из Индии, он стоил дешевле, чем муляж.
        </p>
        <p>
            "Полтергейст" - фильм ужасов, который стал фатальным для двух актрис, одной из которых было всего шесть лет... Маленькая девочка, Хезер играла роль девочки, похищенной демоном. В один момент она испугано закричала, что скоро умрет. К прискорбию, так и случилось. Во время съемок девочка упала в обморок, а по дороге в больницу скончалась. Эта история, как бы кощунственно не звучало, послужило невероятному поднятию рейтинга фильма. Вторая смерть настигнула юную Доминик, которая спустя пять месяцев после окончания съемок умерла, не приходя в сознание после побоев своего бойфренда. 
        </p>
        <p>
            Происходили и веселые казусы на площадках. Так, во время съемок "Зловещих мертвецов", съемочная команда актеров решила испытать на себе марихуану, которую по сюжету курила в кадре молодежь. К ним присоединилась большая часть группы, что в итоге привело к безудержному веселью всех, а съемочный день был сорван. После чего такой эксперимент актеры не повторяли.
        </p>
    </div>

    <h3 class="section-title">
        Смотреть фильмы ужасов
    </h3>

    <div class="content">
        <p>
            США, как известно лидирует по количеству и качеству фильмов ужасов. Культовые режиссеры, такие как Спилберг создавали настоящие шедевры, ужасы, которые заставляют застывать кровь в жилах. Сегодня мы готовы представить вам в нашем списке лишь малую часть культовых картин, но самые страшные фильмы ужасов ждут вас на нашем портале в категории "Ужасы".
        </p>
        <ul>
            <li>
                "Психо" - 1960 год. Уникальная картина Хичкока, которую просто невозможно не включить в список самых страшных ужасов. Этот фильм изменил киноиндустрию навсегда, обязательно посмотрите его онлайн в хорошем качестве;
            </li>
            <li>
                "Челюсти" - 1975 год. Этот фильм Спилберга произвел бешеный фурор. История про огромную акулу, которая унесла большое количество человеческих жизней, подплывая к многолюдному пляжу. Картина держит в невероятном напряжении от начала до конца фильма;
            </li>
            <li>
                "Ведьма из Блэр" - 1999 год. Нашумевший ужастик в псевдодокументальном жанре. Сюжет рассказывает о студентах, приехавших в лес в поисках ведьмы, все свои находки они снимают на камеру, но поочередно они начинают пропадать. Разгадка ждет тогда, когда не останется никого, а камера на земле продолжит снимать...
            </li>
            <li>
                "Звонок" - 2002 год. Ужас, в котором вы не увидите море крови и кровавой резни, все просто, но страшно до дрожи и замирания сердца. Сюжет о загадочной кассете, после просмотра которой, раздается звонок, где голос сообщает просмотревшему человеку о том, что он умрет через семь дней. Удастся ли разгадать таинственную мистику журналистке, сыну которой попала в руки эта кассета;
            </li>
            <li>
                "Паронормальное явление" - 2007 год. Малобюджетная картина, которая собрала более двухсот миллионов долларов за время проката. А вы знаете, что происходит в вашем доме, когда вы спите? Семейная пара обнаруживает, что в доме кто-то присутствует кроме них, поставив камеры ночного видения они замирают от ужаса...
            </li>
        </ul>

        <p>
            Также в категорию самых страшных фильмов, вызывающих стран, не только при просмотре на ночь, можно назвать:
        </p>

        <ul>
            <li>
                "Кошмар на улице Вязов";
            </li>
            <li>
                "Кожаное лицо";
            </li>
            <li>
                "Сайлент Хилл";
            </li>
            <li>
                "Хижина в лесу";
            </li>
            <li>
                "Кладбище домашних животных".
            </li>
            <li>
                Фильмы ужасов 2016 года:
            </li>
            <li>
                "Отмель";
            </li>
            <li>
                "Вирус";
            </li>
            <li>
                "Кукла";
            </li>
            <li>
                "Заклятие 2".
            </li>
        </ul>
        
        <p>
            Посмотреть ужасы 2016, 2017 и даже 2018 года, а также другие картины данного жанра вы можете онлайн на нашем сайте. Ужасы смотреть онлайн в хорошем качестве в любое время суток на нашем портале и пусть страх присутствует в вашей жизни только во время просмотра фильмов!

        </p>
    </div>

</div>