<div class="mmc-category-full-info">

<div class="intro">
    Романтические фильмы будут востребованы всегда. Как правило, данный жанр особенно любим женщинами, ведь какой девушке не хочется смотреть и переносится в мир ярких чувств, пылкой любви и нежности со счастливым концом. Романтические фильмы могут переплетаться в сюжете с комедиями, драмами, приключенческим жанром и др. Трогательные ленты позволяют получить дозу тепла и любви в холодные вечера. 
</div>

<h3 class="section-title">Что такое мелодрама?</h3>

<div class="content">
    <p>
        Фильм о любви, так трактуют понятие мелодрама, данный жанр стал промежуточным, образовавшись из жанров трагедии и комедии. Можно сказать, что мелодрама - это довольно молодой жанр, в котором соединилось много эмоций и чувств. Романтические фильмы отличаются рядом сюжетов и эмоций:

        <ul>
            <li>наличие интриги</li>
            <li>борьба между добром и злом</li>
            <li>любовные перипетии между главными героями</li>
            <li>роковые страсти</li>
            <li>нравственность и мораль</li>
            <li>высокая эмоциональность и др.</li>
        </ul>

    </p>

    <p>
        Романтические картины призваны увести своего зрителя из реального мира, позволив морально отдохнуть от проблем, быта, стрессовых ситуаций и получить моральное удовольствие от просмотра. Задумка режиссеров мелодрам заключается также в олицетворении зрителя самого себя с главными героями картины, дав возможность им раствориться в грезах и мечтах. Таким образом получается сказка для взрослых, где по сюжету вроде бы как обычные люди попадают в неправдоподобные, но такие желаемые многими ситуации, которые полностью переворачивают их жизнь к лучшему. 
    </p>


</div>

<h3 class="section-title">Мировые звезды в жанре романтики</h3>

<div class="content">
    <p>
        Кинематограф предлагает сотни шедевров в жанре мелодрамы, созданных в разные года и в разных странах. По праву, одними из лучших режиссеров в этом жанре можно назвать:

        <ul>
            <li>Гэри Маршалл</li>
            <li>Роджер Камбл</li>
            <li>Владимир Меньшов и др.</li>
        </ul>    
    </p>
    <p>
        Роль романтических героев в разное время примеряли на себя многие звезды, как отечественного, так и западного кино, нельзя не отметить отличную игру в этом стиле, таких актеров, как:
        <ul>
            <li>Николь Кидман</li>
            <li>Джулия Робертс</li>
            <li>Леонардо Ди Каприо</li>
            <li>Кейт Уинслет</li>
            <li>Ричард Гир</li>
            <li>Елена Яковлева</li>
            <li>Александр Абдулов</li>
            <li>Екатерина Гусева</li>
            <li>Елизавета Боярская и др.</li>
        </ul>
    </p>
    <p>
        Их игра заставляет сопереживать их героям, прочувствовать на себе их судьбу, немного всплакнуть и радоваться счастливому окончанию романтической истории. 
    </p>
</div>

<h3 class="section-title">Шедевры мирового кинематографа в жанре мелодрамы</h3>

<div class="content">
    <p>
        Фильмы про любовь были актуальны во все времена, удивительно, но многие из них собирали в мировом прокате такие суммы, которые даже не снились многим лентам с массой спецэффектов и финансовых вложений. Предлагаем вашему вниманию фильмы, которые вы можете смотреть онлайн в удобное время в кругу любимых людей. Несмотря на течение времени, данные картины стали классикой, позволяющей с удовольствием пересматривать их раз за разом:
        <ul>
            <li>"История любви" 1970 год. Фильм про любовь режиссера Артура Хиллера завоевала любовь миллионов зрителей. Сюжет фильма о любви молодой пары, в прекрасные отношения между ними вмешивается... смертельная болезнь. Данный сюжет неоднократно использовался другими режиссерами, взяв за основу именно эту ленту. Мелодрама побила рекорды в прокате, собрав 130 млн долларов, что на тот момент почти в два раза стало больше, чем заработок с проката ленты "Крестный отец"</li>
            <li>"Анжелика" 1964 год, картина в четырех частях снята Бернаром Бордери. История юной Анжелики развивается во Франции, стране любви, но в XVII веке юную девушку никто не спрашивал о ее чувствах. Анжелика была отдана замуж за самого богатого мужчину Франции, за что он вызвал презрении в ее глазах, но спустя время у новоиспеченной жены просыпаются чувства к своему мужу. Страсть, любовь, откровенные сцены для 60-70 годов, просто приковывают зрителя к картине, которая остается актуальной и сегодня;</li>
            <li>"Грязные танцы" 1987 год. Страстная история от Эмиля Ардолино, фильм показывает разногласия между народами, социальными слоями, которые особенно ярко выражены в 60-е годы в США. Молодая дочь известного врача влюбляется в эффектного, но нищего красавчика, своего преподавателя танцев, на чем и был завязан сюжет. Все это дополнено эффектными танцами, страстной музыкой и красивыми главными героями;</li>
            <li>"Как украсть миллион" 1966 год. Удивительная и очаровательная Одри Хепберн и Питер О Тул в главных ролях не дают оторвать от них взгляд. Жанр авантюрной мелодрамы комедии любим, как женщинами, так и мужчинами, на протяжении полувека остается настоящей классикой кинематографа;</li>
            <li> "Привидение" 1990 год. Главная роль в фильме принадлежит одному из самых романтичных героев Голливуда – Патрику Суэйзи, для которого смерть любимой не стала причиной для разлуки... Романтический фильм, которому пророчили провал, а в итоге он вошел в золотую коллекцию кинематографа;</li>
            <li>"Служебный роман" 1977 год. Русские мелодрамы также становятся классикой, которую можно пересматривать множество раз. Одним из таких фильмов является "Служебный роман" Эльдара Рязанова - умопомрачительная комедия переплетается с романтической историей на рабочем месте. Недотепа мужчина пытается понравится своей далеко не эффектной начальнице, чтобы продвинуться вверх по карьерной лестнице, но внезапно между ними вспыхивают чувства... Не менее знаменитой мелодрамой, сюжет которой знаком многим женщинам, особенно времен СССР — это "Москва слезам не верит", сюда же можно добавить "Иронию судьбы" и др картины;</li>
            <li>"Титаник" 1997 год. Завершит наш перечень самый узнаваемый фильм во всем мире, культового режиссера Джеймса Кэмерона - "Титаник". Невероятная история любви между Роуз и Джеком, которая сопровождается глобальной катастрофой на корабле, ведущей к гибели множества людей, в том числе и Джека. Кэмерон получил две премии «Оскар», как режиссер и продюсер за данную картину и миллионы долларов за прокат. Шикарный фильм от культового мастера, который просто не может не оставить след в вашем сердце.</li>
        </ul>
    </p>
</div>

<p>Смотреть онлайн романтические фильмы вы можете, выбрав соответствующий раздел на нашем сайте. Желаем вам приятного просмотра!</p>

</div>