<div class="mmc-category-full-info">
    <div class="intro">
        Жанр фантастика, занимает особую роль в мировом кинематографе. Интерес людей к несуществующим, фантастическим событиям, был всегда, поэтому с появлением первых лент кинематографии, фэнтези присутствует на наших экранах. В большинстве случаев, фантастические фильмы — это экранизация знаменитых романов в данном жанре. Сегодня хорошая фантастика обходится создателю фильма в немалые суммы, так как требует большого количества спецэффектов, чтобы удивить своего зрителя, но даже во времена отсутствия таких возможностей, снимались киноленты фэнтези, которые имели высокую популярность. Фантастические фильмы обладают более чем вековой историей, многие из них стали настоящим наследием кинематографа.
    </div>

    <h3 class="section-title">С чего все начиналось?</h3>

    <div class="content">
        <p>Одной из самых первых картин, продолжительностью всего в 14 минут, стала экранизация романа Жюля Верна, название фильма "Путешествие на Луну" 1902 года. Следом, последовала экранизация: "Франкенштейн или современный Прометей".</p>
        <p>Следующим витком развития мистическо-фантастических фильмов стала немецкая картина "Голем", снятая в 1920 году. Также "Носферату, симфония ужаса", данный фильм стал предшественником будущих историй о Графе Дракуле.</p>
        <p>Одним из первых "блокбастеров" того времени стала картина "Метрополис", фильм больше напоминает фантазии ее автора, отличилось кино своим огромным бюджетом в 7 млн марок, если перевести в доллары сегодня, это порядка 200 млн. долларов.</p>
    </div>

    <h3 class="section-title">Тридцатые года - время смотреть фантастику</h3>

    <div class="content">
        <p>
            В 30-е годы началось становление Голливуда, как центра мирового кинематографа. Жанр фантастики, получил новый этап развития, когда зрители увидели "Кинг Конг", фильм, вышедший в 1933 году. Огромная горилла, которая сражается бипланами на крыше небоскреба, вызвала бурю эмоций у зрителей.
        </p>
        <p>
            В 30-е года выходят первые фантастические сериалы, такие как: Флэш Гордон и Дик Трейси. В эту же эпоху получили жизнь, такие фильмы:
        </p>
        <ul>
            <li>«Человек-невидимка»</li>
            <li>«Невеста Франкештейна» и «Сын Франкештейна»</li>
            <li>«Янки из Коннектикута»</li>
            <li>«Космический рейс» - один из первых фильмов в жанре фэнтези в отечественном кинематографе</li>
        </ul>
    </div>

    <h3 class="section-title">Середина 20 века</h3>

    <div class="content">
        <p>
            В сороковые годы, кинематограф был запущен, фантастика и боевик вместе с ним, так как шло военное время. Но уже в 50-х годах смотреть фантастику продолжили, а значит и снимать фантастические фильмы. В это время особую любовь получили фильмы о монстрах и инопланетных созданиях. Были выпущены:
            <ul>
                <li>"Нечто из другого мира" в 1951 году</li>
                <li>"День, когда Земля замерла"</li>
                <li>"Война миров"</li>
                <li>"Они!" и др.</li>
            </ul>
        </p>
        <p>Добиться прорыва в визуальных спецэффектах в фэнтези получилось в картине "2001: Космическая одиссея", которая вышла на экраны в 1968 году. В фильм было вложено 10,5 млн долларов, что очень немало для киноиндустрии тех лет. В 70-х уклон жанр фантастика перешел в мистическую среду: "Планета обезьян", "Тихий бег" и др.</p>
        <p>
            В 1972 году была создана американская премия "Сатурн". Статуэтку получали лучшая фантастика, что считалось высшей степенью награды фильма. Несколько картин разных годов, получивших данную премию:
            <ul>
                <li>"Звездные воины" 1977</li>
                <li>"Чужой" 1979</li>
                <li>"Терминатор" 1984</li>
                <li>"Назад в будущее" 1985</li>
                <li>"Робокоп" 1987</li>
                <li>"Люди в черном" 1997</li>
                <li>"Матрица" 1999</li>
                <li>"Люди Икс" 2000 и др.</li>
            </ul>
        </p>
        <p>
            Премию получали по праву культовые фильмы фантастики, многие из них остаются любимыми для просмотра онлайн и сегодня. Что может быль лучше, чем смотреть фантастику дома в хорошем качестве, вместе с друзьями и родными.
        </p>
    </div>

    <h3 class="section-title">Конец 20 века - глобализация фэнтези</h3>

    <div class="content">
        <p>
            Смотреть фантастику начали абсолютно все, интерес к неизведанному рос, а вместе с ним росла и киноиндустрия, выпуская все новые и новые фантастические фильмы. Особой популярностью в 80-х пользовались сценарии про роботов, фантастика боевик и фантастика триллер, среди них:
            <ul>
                <li>"Терминатор"</li>
                <li>"Робокоп"</li>
                <li>"Бегущий по лезвию"</li>
            </ul>
        </p>
        <p>
            Удачные киноленты просто взрывали 90-е. В это десятилетие на экраны вышли:
            <ul>
                <li>"Армагеддон"</li>
                <li>"Матрица"</li>
                <li>"День Независимости"</li>
                <li>"Конец света"</li>
                <li>"Парк Юрского периода" и др.</li>
            </ul>
        </p>
    </div>

    <h3 class="section-title">Наше время</h3>

    <div class="content">
        <p>
            Начиная с двухтысячных годов пошел бурный процесс компьютерных технологий, что полностью изменило облик фэнтези, невероятные спецэффекты, сделали фантастику универсальной и любимой для всех поколений. К таковым картинам, можно отнести:
            <ul>
                <li>"Властелин колец"</li>
                <li>"Хроники Нарнии"</li>
                <li>"Пекло"</li>
                <li>"Гарри Поттер"</li>
                <li>"Планета обезьян: Революция"</li>
                <li>"Особое мнение"</li>
                <li>"Вечное сияние чистого разума"</li>
                <li>Сериал «Игра престолов» и др.</li>
            </ul>
        </p>
        <p>
            Что ждет нас, еще спустя несколько десятилетий, трудно предугадать. Возможно, нас ждут полностью цифрованные фильмы без реальных актеров, а герои будут созданы при помощи компьютерной графики? Все это нам лишь предстоит узнать, а пока, вы можете смотреть онлайн фильмы в жанре фэнтези в хорошем качестве вы можете на нашем сайте. Вас ждут лучшие киноленты, хорошее качество изображения и удобный интерфейс сайта для выбора любимого фильма из мира фантастики.
        </p>
    </div>
</div>