<div class="mmc-category-full-info">
    <div class="intro">
        Хорошее кино - вечно, у него нет срока годности, независимо от того, какой жанр, в каком году была выпущена картина и кто в ней главные герои. Если это шедевр - триллер, фильм будет любим и популярен независимо от количества пройденных лет, после того, как он был презентован зрителям. Киноиндустрия - востребованная отрасль, так как нет ничего более доступного и приятного, чем просмотр киноленты. 
    </div>

    <h3 class="section-title">Что за жанр - триллеры?</h3>

    <div class="content">
        <p>
            Каждый любит свой жанр, кто-то комедии, кто-то ужасы или мелодрамы, но есть одна категория — это фильмы которые заставляют застыть в оцепенении абсолютно всех, речь идет о триллерах. По сути, триллер не имеет определенного жанра, под этим названием могут скрываться: 
            <ul>
                <li>Экшн</li>
                <li>Детективы</li>
                <li>Ужасы</li>
                <li>Криминал</li>
                <li>Приключенческие картины и т.д</li>
            </ul>
        </p>
        <p>Казалось бы, что может объединить все эти жанры - эмоции, триллер призван щекотать нервы, вызывать дрожь и оцепенение. Если же, ничего подобного зритель не испытывает, картине далеко до прозвища шедеврального кино.</p>
        <p>В переводе с английского слово триллер обозначает трепет и волнение. Это тот фильм, который держит вас в напряжении с первой минуты и не даст возможности выдохнуть до последнего кадра на экране. Это фильм, в котором вы не предугадаете разгадку, где вас ждет масса неожиданных поворотов и несколько сюжетных линий. Когда вы начинаете смотреть триллер - в жилах застывает кровь, все внимание сосредоточено на экране, вы просто не можете не переживать о любимых героях, их судьбе, и с нетерпением ждете разгадки, фееричного завершения фильма. </p>
    </div>

    <h3 class="section-title">История триллеров в кинематографе </h3>

    <div class="content">
        <p>Одним из первых режиссеров, показавших зрителю столь таинственный жанр, родоначальник триллеров — это Альфред Хичкок, он мастерски создавал в своих картинах атмосферу напряжения и удерживал в ней зрителя до конца. Его первый триллер был выпущен в 1926 году, под названием "Жилец". Его картинам также был присущ черный юмор, который вызывал лукавую усмешку у зрителя, но при этом не отвлекает от основной линии сюжета. </p>
        <p>Хичкок оставил после себя уникальное наследие — это 55 картин, которые стали мировой классикой, практически все они были отсняты в жанре триллеров. Большая часть картин снималась в Америке, первые работы мирового режиссера были отсняты в Англии.</p>
        <p>Смотреть триллеры стало особенно популярно в послевоенное время. Так как в большей степени жанр был распространен среди американского кино, после 60-х годов, когда произошло убийство Кеннеди, особая популярность пришлась на политические триллеры. Одним из шедевров того времени стал фильм "Маньчжурский кандидат".</p>
        <p>Но не только американские режиссеры преуспели в жанре триллера. Смотреть триллеры любили во всех странах, поэтому режиссер Роман Полански также стал использовать в своих картинах элементы триллера, например, фильм "Нож в воде" выпущен в Польше в 1962 года. Режиссер работал в разных странах, где и представлял свои картины. Родился он во Франции, жил в Польше, преимущественно работал в Англии. </p>
        <p>После 40-х годов подхватили волну жанра и французы. В 50-х годах особенно любим стал гангстерский стиль, одним из шедевров того времени стала работа Ж. Беккера "Не тронь добычу". В начале 80-х любовь к гангстерам начала остывать, заключительным фильмом стала картина знаменитого Алена Делона "Неукротимый", которая вышла на экраны в 1982 году. </p>
        <p>Конечно, просто невозможно не упомянуть работы Стивена Кинга - этот уникальный писатель по праву получил звание "Король ужасов". При этом Кинг писал и в других жанрах: мистика, драма, фентези, но все фильмы, отснятые по его романам, однозначно переплетались с триллерами, ведь так держать в напряжении своего читателя или зрителя, как виртуозно делал это Кинг, дано далеко не каждому мастеру слова. Одна из лучших экранизаций Кинга - Мизери, фильм, потрясший миллионов зрителей.</p>
    </div>

    <h3 class="section-title">Триллер в России</h3>

    <div class="content">
        <p>
            Несмотря на то, что корни жанра уходят в западную культуру, за последние несколько десятков лет и наши режиссеры научились снимать отличные фильмы в этом жанре. Русские триллеры имеют свою сюжетную линию, часто она пересекается с войной, лихими 90-ми годами и т.д. Можно назвать много картин, которые стали популярными и сохраняют ее уже на протяжении многих лет. Знаменитые русские триллеры разных годов:
            <ul>
                <li>"9 рота"</li>
                <li>"Тот, кто гасит свет"</li>
                <li>"Груз 200"</li>
                <li>"Экипаж"</li>
                <li>"Вий"</li>
                <li>"Коллектор" и др.</li>
            </ul>
        </p>
        <p>Из знаменитых отечественных режиссеров, представляющих картины в жанре триллер, можно назвать: Александр Балабанов, Федор Бондарчук, Карен Оганесян и другие. </p>
    </div>

    <h3 class="section-title">Топ 10 лучших триллеров за все года</h3>

    <div class="content">
        <p>
            Хорошему фильму время не помеха, поэтому представляем вашему вниманию лучшие картины, которые были отсняты за последние полвека. Все их можно смотреть онлайн, благодаря возможностям интернета, в любое удобное время. Хотите смотреть триллеры, которые смогут пощекотать вам нервы? Тогда выбирайте:
            <ul>
                <li>"Семь"</li>
                <li>"Шестое чувство"</li>
                <li>"Другие"</li>
                <li>"Сердце ангела"</li>
                <li>"Десять негритят"</li>
                <li>"Мизери"</li>
                <li>"Парфюмер: история одного убийцы"</li>
                <li>"Молчание ягнят"</li>
                <li>"Сияние"</li>
                <li>"Челюсти"</li>
            </ul>
            <p>
                Конечно, этот список может продолжаться бесконечно. Мировых шедевров в стиле триллера, было создано очень много. Новинки и классика мирового кино вас ждет на нашем сайте. В подразделах вы найдете: комедии, боевики, триллеры, мелодрамы, семейные фильмы и многое другое. Приятного просмотра любимых картин в хорошем качестве!
            </p>
        </p>
    </div>
</div>