<div class="mmc-category-full-info">

    <h3>Турецкие сериалы</h3>

    <div class="intro">
        <p>
            Многих европейцев манит восточная культура, чем оправдывается любовь к турецким сериалам. Трансляция восточных фильмов по телевидению не так сильно распространена, но все же известные в свое время сериалы нашли своих зрителей, например, "Королек - птичка певчая" или "Великолепный век". Несмотря на то, что транслируются турецкие сериалы не часто, по объему экспорта своих кинолент Турция занимает второе место в мире, после США, более ста стран транслируют сериалы, снятые на Востоке. Особенно любят смотреть турецкие сериалы, женщины. Именно на данную аудиторию больше рассчитан сюжет картин.
        </p>
    </div>

    <h3 class="section-title">
        В чем особенность турецкой киноиндустрии?
    </h3>

    <div class="content">
        <p>
            Что же привлекает отечественного зрителя к просмотру восточных сериалов? Как правило, это эмоции актеров, яркая картинка о красивой жизни и чистой любви. Также зрителя привлекает новизна лиц турецких актеров, которые не так часто мелькают на голубых экранах. Актеры играют довольно эмоционально и искренне. Многие нуждаются в этих эмоциях, так как они не могут получить по ряду индивидуальных причин в реальной жизни. Таким образом, получая допинг эмоциями от просмотра турецкого фильма. Именно эмоция актеров удерживает зрителя у экрана, даже при нетерпимо затяжном сюжете серии, когда по несколько минут не происходит никаких действий, которые могли бы удерживать внимание во время просмотра. Именно эти факторы позволяют смотреть турецкие сериалы часами. 
        </p>
        <p>
            Жанр восточных сериалов в основном крутится вокруг драмы и мелодрамы. Сюжет рассказывает о взаимоотношениях между возлюбленными, зачастую присутствует любовный треугольник, яркие сцены ревности и страсти. При всем этом режиссеры ставят на важную позицию моральные ценности. В сериалах прослеживаются семейные ценности, уважение к старшим, помощь окружающим и взаимовыручка. 
        </p>
    </div>

    <h3 class="section-title">
        Топ лучших сериалов Востока
    </h3>
    <div class="content">
        <p>
            Российские сериалы сейчас в большей части заполонили экраны телевидения, латиноамериканские и турецкие сериалы отошли в сторону, но при этом многие их любят и ценят. Турция продолжает снимать свои истории, давая прочувствовать нашему зрителю особую культуру Востока. 
        </p>
        <p>
            Смотреть турецкие сериалы можно часами, растворяясь в сюжете и сопереживая героям фильмов. Мы попробовали подобрать для вас лучшие турецкие сериалы, которые вы сможете смотреть онлайн в хорошем качестве, непосредственно у себя дома, наслаждаясь приятной атмосферой. Топ лучших сериалов от восточной киноиндустрии:
        </p>
        <ul>
            <li>
                "Королек - птичка певчая" - 1986 год. Именно этот сериал приковал к экранам телевизора советских граждан, позволяя переживать вместе с главной героиней, ее любовные переживания, предательство и жизненные проблемы. Юная героиня Фериде влюбляется в своего кузина, о чем узнает окружение девушки, и, конечно, сам кузен...
            </li>
            <li>
                "Великолепный век" - 2011-2014 год. Было снято четыре сезона сериала, он стал любимым для женщин. Сюжет рассказывает историю славянской рабыни, Александры, которая была похищена и подарена великому султану Сулейману в его гарем. Александра стала любимицей султана и вскоре получила почетное звание главной жены. Девушка стала не просто женой, но и другом, любовницей и правой рукой монарха. Благодаря хитрости, мудрости и природной красоте ей удалось сделать так, чтобы Сулейман бросил весь мир к ее ногам.
            </li>
            <li>
                "1001 ночь". Нет, это не экранизация известной сказки, хотя главную героиню зовут также Шахерезада, но жизнь ее совсем несладкая сказка на ночь. После гибели мужа, женщина понимает, что ее сын смертельно болен и бороться за его жизнь ей приходится в одиночку.
            </li>
            <li>
                "Серебро" - история современной Золушки, только на турецкий мотив. Фильм для тех, кто любит смотреть турецкие сериалы в их классическом исполнении, в жанре мелодрамы. Молодой парень теряет свою любимую в результате ее гибели, чтобы вернуть парня к жизни после трагедии, его дедушка решает женить парня на другой. Чтобы заслужить любовь и счастье девушке придется пройти немало испытаний.
            </li>
            <li>
                "Опасная любовь" - 2009 год. Парень испытывает искренние чувства к дочери своей тети, но красавица не готова ответить ему взаимностью, напротив, высмеивает его чувства и выходит замуж за другого. Спустя года, пережив предательство мужа, главная героиня случайно встречается со своим бывшим поклонником, парень при встрече понимает, что чувства к ней у него так и не утихли...
            </li>
            <li>
                "Эзель" - турецкий сериал сняты в криминально-драматическом жанре. Остросюжетный сериал, в котором каждая серия держит зрителя в напряжении. Главный герой Эзель - молодой парень, у которого есть любимая девушка, друзья и все, что нужно для счастья, но в один миг его ждет предательство близких людей, что приводит его в тюрьму. Выйдя после заключения, Эзель становится совсем иным человеком с единственным желанием - отомстить своим предателям.
            </li>
            <li>
                "Любовь и наказание" - 2010 год. Измена перед свадьбой, что может быть отвратительнее и больнее для невесты? Девушка решила отплатить тем же, после ночи с неизвестным мужчиной, главная героиня оставляет ему на память кулон, рассчитывая на то, что они больше никогда не встретятся, но судьба решает иначе...
            </li>
            <li>
                "Запретная любовь" - отличная мелодрама для женщин, рассказывающая историю жизни, любви и соперничества. Молодой вдовец, Адан, посвящает свою жизнь детям, но в один момент ему встречается юная Бихтер, приносящая свет в его жизнь. На пути к счастью двух влюбленных становится ее собственная мать...
            </li>
        </ul>
        <p>
            Смотреть турецкие сериалы вы можете в хорошем качестве на нашем сайте. Не нужно скачивать, понравившиеся киноленты на свой гаджет, вы можете смотреть любой фильм. У нас вы найдете зарубежные, российские сериалы, фильмы в разных жанрах, которые стали культовыми мировыми картинами, а также премьеры новых сезонов.
        </p>
    </div>

</div>