<div class="mmc-category-full-info">

    <div class="intro">
        Американский кинематограф ввел один из жанров кино в начале ХХ века, который хоть и немного утратил свою популярность в наше время, но все равно остается востребованным среди своих поклонников. Речь идет о фильмах про Дикий Запад, а именно жанр вестерн. Для вестернов характерны времена середины XIX века, события, происходящие сразу после индийских войн. Вестерн фильмы могут включать в себя и другие жанры, такие как: боевики, приключенческие или комедии, главное место действия и сюжет с ковбоем в главной роли. 
    </div>

    <h3 class="section-title">Вестерн фильмы: особенности сюжета</h3>

    <div class="content">
        <p>Техас, Аризона, Канзас, Оклахома - излюбленные места для съемок фильмов о Диком Западе. Пейзаж картин основывается на дикой местности, огромные поля, ранчо, фазенды и фермы. Конюшни, тюрьмы, небольшие магазинчики - все это фигурирует в вестерне. При этом обязательным атрибутом является салун, американский паб, в котором играет музыка в стиле кантри, присутствуют девушки, часто легкого поведения и суровые мужчины, пьющие пиво и играют в покер, выложив свои револьверы на видное место. </p>
        <p>Первые картины снимались на съемочных площадках с необходимыми декорациями. Спустя время популярно стало выезжать на съемки в реальную местность, где разбивался лагерь и шли съемки, непосредственно в условиях реальных фермерских хозяйств и дикой природы. </p>
        <p>Образ главного героя, как правило, ассоциируется с ковбоем в шляпе, сапогах, шпорах, платке на шее и оружием. Передвигается ковбой на своей лошади, умело запрыгивая в седло. Некоторые картины, рассказывают о реальных завоевателях Дикого Запада, например, Док Холлидей или Бэт Мастерсон.</p>
        <p>Суть темы вращается вокруг завоевания земель во благо цивилизации либо, наоборот, конфискации и передаче земель народу, основанных не на законе, а кодекса чести. Борьба между владельцами ранчо, с переселенцами, ранние фильмы основываются на сюжетах борьбы с индейцами и т.д. Сюжет предполагает немного диалогов и как можно больше пейзажей, дикой, нетронутой природы.</p>
        <p>
            К типичным героям вестерна можно отнести:
            <ul>
                <li>смелый стрелок или ковбой</li>
                <li>безразличный шериф</li>
                <li>добрый и злой индеец</li>
                <li>бандиты</li>
                <li>два противоположных женских образа - роковая женщина и невинная девушка</li>
                <li>массовка для игры в покер, стрельбы, потасовок.</li>
            </ul>
        </p>
        <p>
            Любой из сюжетов сводится к борьбе добра со злом, в большинстве вестернов добро побеждает зло.
        </p>
    </div>

    <h3 class="section-title">Развитие жанра</h3>

    <div class="content">
        <p>Популярность вестернов среди американских зрителей во многом основывается на истории страны. Ведь всего два столетия назад самоотверженные первопроходцы, которые хотели новой жизни, осваивали и завоевывали дикие земли Запада. В результате их действий были созданы целые колонии и в дальнейшем территория многих округов США, а также Мексики, Канады и т.д.</p>
        <p>Вестерн фильмы на заре кинематографа стали визитной карточкой Голливуда, первый фильм там был снят еще в 1898 году. Но официальное зарождение вестернов принято считать в 1903 году, когда вышел фильм "Большое ограбление поезда".</p>
        <p>Особая популярность жанра вестерн пришлась ближе к середине прошлого столетия, после выхода в 1939 году фильма "Дилижанс", но уже в 80-х годах фильмы про Дикий Запад начали сдавать свои позиции.</p>
        <p>
            Фильмы в данном жанре пусть и не так часто, но продолжают сниматься и в текущем столетии, несколько из них:
            <ul>
                <li>"Поезд на Юму" – 2007 год</li>
                <li>"Джанго освобожденный" - 2012 год</li>
                <li>"Омерзительная восьмерка" - 2015 год</li>
            </ul>
        </p>
        <p>
            В середине ХХ века, на пике своей популярности, вестерн начали снимать не только в Америке, но и в других странах: Германии, Италии и даже в советской киностудии выпустили несколько фильмов в данном жанре со своей интерпретацией, например, "Неуловимые мстители".
        </p>
    </div>

    <h3 class="section-title">Лучшие фильмы вестерн</h3>

    <div class="content">
        <p>
            Картин, снятых в данном жанре много, выделить лучшие из них довольно сложно. У нас на сайте вы можете онлайн посмотреть культовые фильмы разных времен. Некоторые фильмы про Запад, вошедшие в список лучших вестернов за всю историю:
        </p>
        <ul>
            <li>"Дилижанс" - 1939</li>
            <li>"Ровно в полдень" - 1952</li>
            <li>"Хороший, плохой, злой" - 1966</li>
            <li>"Однажды на Диком Западе" - 1968</li>
            <li>"Буффало Билл и индейцы" - 1976</li>
            <li>"Танцы с волками" - 1990</li>
            <li>"Непрощенный" - 1992</li>
            <li>"Горбатая гора" - 2004</li>
            <li>"Поезд на Юму" - 2007</li>
            <li>"Джанго освобожденный" - 2012</li>
            <li>"Выживший" - 2015</li>
        </ul>
        <p>
            Возможно, совсем скоро фильмы 2018 года пополнит одна из картин в жанре вестерн. Сегодня мы предлагаем вам приятный просмотр фильмов в хорошем качестве в онлайн режиме на нашем сайте. У нас вы найдете, как культовые картины, которые не имеют срока давности, так и новинки, фильмы 2018 года, долгожданные премьеры в разных жанрах. Приятного отдыха за просмотром любимой киноленты!
        </p>
    </div>

</div>