<div class="embed-responsive-item no-playback text-center">
    <div class="outer">
      <div class="middle">
        <div class="inner">
            <h2>
                {{ istring ru='Это видео доступно для просмотра только подписчикам' en='This video available for Gold Members only' }}
            </h2>
            <a href="/profile/subscription/purchase" class="btn btn-warning">
                {{ istring ru='Приобрести подписку' en='Become Gold Member' }}
            </a>
        </div>
      </div>
    </div>
</div>
