<video id="video-player" class="video-js vjs-big-play-centered embed-responsive-item" controls preload="auto" style_x="width: 100%; height: 100%;">
{{#each videos }}
    <source src="{{ src }}" type="{{ type }}" />
{{/each}}
{{#each subtitles}}
<track kind="subtitles" src="/api/captions/{{ _id }}.vtt" label="{{ language }}" />
{{/each}}
<p class="vjs-no-js">
To view this video please enable JavaScript, and consider upgrading to a web browser that
<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
</video>
