{{#section "head"}}
<meta name="description" content="Категория: {{ category.title }} — смотреть онлайн. Список лучших сериалов в хорошем качестве." />
{{/section}}

<h1>{{ category.topCategory.title }} / {{ category.title }}</h1>

{{> video-list videos}}