<div class="row" id="appletv">

    <div class="col-md-7">
        <img src="/img/welcome/apple-tv.jpg" class="img img-responsive" />
    </div>

    <div class="col-md-5">
        <div class="info info-horizontal">
            <div class="icon icon-info">
                <i class="material-icons">format_paint</i>
            </div>
            <div class="description">
                <div class="info-title h4">Graphic Design</div>
                <p class="description">
                    We've created the design of the website using modern Technologies like Sketch. It was a very interesting collaboration.
                </p>
            </div>
        </div>

        <div class="info info-horizontal">
            <div class="icon icon-primary">
                <i class="material-icons">code</i>
            </div>
            <div class="description">
                <div class="info-title h4">Fully Coded in HTML5</div>
                <p class="description">
                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                </p>
            </div>
        </div>

        <div class="info info-horizontal">
            <div class="icon icon-danger">
                <i class="material-icons">dashboard</i>
            </div>
            <div class="description">
                <div class="info-title h4">CMS Admin Dashboard</div>
                <p class="description">
                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                </p>
            </div>
        </div>
    </div>

</div>
