<div class="features-2">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="h2 title">Welcome back to the new Memocast!</div>
				<p>
					Dear Member we are happy to see you again and as a voluble customer granted one month free access without any commitments.
				</p>

				<div class="h3 title">With new Memocast you can:</div>

				<div>
					<div class="h6 title">Collect Favorite movies by LIKE them</div>
					<div class="h6 title">SUBSCRIBE to the new Serials to be updated about new episode arrivals</div>
					<div class="h6 title">SHARE on your facebook with your friends</div>
					<div class="h6 title">WATCH on Appletv, ROKU and ChromeCast</div>
					<div class="h6 title">SEARCH by movie title, actor or director name</div>
				</div>

                <div>
					<button id="bt-activate-welcome-back" class="btn btn-rose">
					Activate 30-days free subscription
					</button>
				</div>
			</div>


		</div>

    </div>
