<div class="row" id="chromecast">

    <div class="col-md-5">
        <div class="info info-horizontal">
            <div class="icon icon-rose">
                <i class="material-icons">timeline</i>
            </div>
            <div class="description">
                <div class="info-title h4">Marketing</div>
                <p class="description">
                    We've created the marketing campaign of the website. It was a very interesting collaboration.
                </p>
            </div>
        </div>

        <div class="info info-horizontal">
            <div class="icon icon-success">
                <i class="material-icons">code</i>
            </div>
            <div class="description">
                <div class="info-title h4">Fully Coded in HTML5</div>
                <p class="description">
                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                </p>
            </div>
        </div>

        <div class="info info-horizontal">
            <div class="icon icon-info">
                <i class="material-icons">group</i>
            </div>
            <div class="description">
                <div class="info-title h4">Built Audience</div>
                <p class="description">
                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <img src="/img/welcome/chromecast.jpg" class="img img-responsive" />
    </div>

</div>
