<div>
    <div class="page-header header-filter" style="background-image: url('/img/zast1.png');">
        <div class="container">
            <div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h1 class="title">
                        {{ istring locale ru='Memocast' en='Memocast' }}
                    </h1>
				</div>
            </div>
            <div class="row text-center">
				<div class="col-md-6">
					<div class="info">
						<div class="icon icon-white">
							<i class="material-icons">movie</i>
						</div>
						<div class="h3 white-title">
                            {{ istring locale ru='Лучшая коллекция русских фильмов, сериалов и передач. Более 200 тысяч видео.' en='Subscribe Now to Watch over 200 thousand Movies.' }}
                        </div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="info">
						<div class="icon icon-white">
							<i class="material-icons">tv</i>
						</div>
						<div class="h3 white-title">
                            {{ istring locale ru='Смотрите нас на ROKU, Chromecast и Apple TV' en='Available now on ROKU, Chromecast and Apple TV' }}
                        </div>
					</div>
				</div>

			</div>
        </div>
    </div>
</div>
