<div class="row" id="roku">

    <div class="col-md-3">
        <p>
            {{ istring locale
                ru='Теперь вы можете смотреть Мемокаст на ТВ!'
                en='Now you can watch your favorite Memocast movies on TV!' }}
        </p>
        <p>
            {{ istring locale
                ru='Мы поддерживаем 3 самый популярные ТВ платформы:'
                en='We support 3 most popular TV platforms:' }}
        </p>
        <div class="h3">Roku</div>
        <p>
            <a href="/roku">
            {{ istring locale ru='Инструкция по настройке Roku' en='Roku setup instruction' }}
            </a>
        </p>
        <div class="h3">ChromeCast</div>
        <div class="h3">Apple TV</div>
    </div>

    <div class="col-md-9">
        <img src="/img/welcome/roku.jpg" class="img img-fluid" />
    </div>

</div>
