<div class="projects-4" id="tv">
	<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="h2 title">
					{{ istring locale ru='Смотрите Мемокаст на своем телевизоре' en='Watch us on your TV' }}
				</div>
                <div class="h5 description" style="display: none;"></div>
                <div class="section-space"></div>
            </div>
        </div>
        {{> welcome/roku }}
	</div>
</div>
