<div id="flash-adverts">
    <!-- Carousel Card -->
    <div class="card card-raised card-carousel">
        <div id="flash-adverts-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">

                        <li data-target="#flash-adverts-carousel" data-slide-to="0 " class="active"></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="1 "></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="2 "></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="3 "></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="4 "></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="5 "></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="6 "></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="7 "></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="8 "></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="9 "></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="10 "></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="11 "></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="12" ></li>
                        <li data-target="#flash-adverts-carousel" data-slide-to="13"></li>



                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="flash-item item " id="flash-item-0"  style="cursor: pointer;">
                        <a href="/profile/subscription/purchase-promo">
                            <img src="/img/slider-promo/5.99-special.jpg" title="">
                        </a>
                     </div>
                    <div class="flash-item item active" id="flash-item-1"  style="cursor: pointer;">
                        <a href="/profile/subscription/purchase-promo">
                        <img src="/img/slider-promo/roku-on-tv.jfif" title="Roku">
                        <div class="carousel-caption">
                            <div class="h3 title">Смотрите Memocast на ТВ при помощи Roku!</div>
                            <p class="hidden-xs hidden-sm"></p>
                        </div>
                        </a>
                    </div>
                      <div class="flash-item item " id="flash-item-2"  style="cursor: pointer;">
                        <a href="/profile/subscription/purchase-promo">
                            <img src="/img/slider-promo/5.99-special.jpg" title="">
                        </a>
                      </div>
                      <div class="flash-item item " id="flash-item-3"  style="cursor: pointer;">
                          <a href="/profile/subscription/purchase-promo">
                          <img src="/img/slider-promo/wolf-img.jfif" title="Того">
                          <div class="carousel-caption">
                              <div class="h3 title">Того</div>
                              <p class="hidden-xs hidden-sm">Пёс Того в 1928 году помог предотвратить эпидемию дифтерии
                               в городе Ном, Аляска. В упряжке с другими ездовыми собаками Того, несмотря на страшные погодные условия,
                              смог доставить в город посылку с антитоксином, остановившим распространение болезни.</p>
                          </div>
                          </a>
                      </div>
                      <div class="flash-item item " id="flash-item-4"  style="cursor: pointer;">
                         <a href="/profile/subscription/purchase-promo">
                             <img src="/img/slider-promo/5.99-special.jpg" title="">
                         </a>
                      </div>

                    <div class="flash-item item " id="flash-item-5"  style="cursor: pointer;">
                            <a href="/profile/subscription/purchase-promo">
                            <img src="/img/slider-promo/angel-hug.jfif" title="257 причин, чтобы жить">
                            <div class="carousel-caption">
                                <div class="h3 title">257 причин, чтобы жить</div>
                                <p class="hidden-xs hidden-sm">День, когда 30-летняя Женя Коврова победила тяжелую болезнь,
                                стал не самым счастливым, а самым кошмарным в ее жизни. Оказалось, что здоровой она не
                                нужна ни своему парню, который был с ней из жалости, ни сестре, которая умело зарабатывала
                                 на благотворительных сборах.
                                 А коллеги по работе и вовсе не надеялись на выздоровление Жени и не ждали ее возвращения.</p>
                            </div>
                            </a>
                     </div>
                     <div class="flash-item item " id="flash-item-6"  style="cursor: pointer;">
                        <a href="/profile/subscription/purchase-promo">
                            <img src="/img/slider-promo/5.99-special.jpg" title="">
                        </a>
                     </div>

                   <div class="flash-item item " id="flash-item-7"  style="cursor: pointer;">
                           <a href="/profile/subscription/purchase-promo">
                           <img src="/img/slider-promo/epidemy.jfif" title="Эпидемия">
                           <div class="carousel-caption">
                               <div class="h3 title">Эпидемия</div>
                               <p class="hidden-xs hidden-sm">Жёсткая семейная драма на фоне глобальной катастрофы,
                               «Эпидемия» основана на романе Яны Вагнер «Вонгозеро».</p>
                           </div>
                           </a>
                    </div>
                    <div class="flash-item item " id="flash-item-8"  style="cursor: pointer;">
                       <a href="/profile/subscription/purchase-promo">
                           <img src="/img/slider-promo/5.99-special.jpg" title="">
                       </a>
                    </div>

                   <div class="flash-item item " id="flash-item-9"  style="cursor: pointer;">
                           <a href="/profile/subscription/purchase-promo">
                           <img src="/img/slider-promo/major-3rd.jfif" title="Мажор. Третий сезон">
                           <div class="carousel-caption">
                               <div class="h3 title">Мажор. Третий сезон</div>
                               <p class="hidden-xs hidden-sm">Чтобы отомстить за смерть отца, он в совершенстве овладел
                               бизнес-стратегиями, чтобы найти и наказать убийцу матери, ему нужно освоить нечто совершенно новое.
                                И самое сложное при этом – остаться в рамках закона. В поисках преступника
                                Мажор окажется у черты, но останутся ли у него законные средства, чтобы наказать убийцу?</p>
                           </div>
                           </a>
                    </div>
                    <div class="flash-item item " id="flash-item-10"  style="cursor: pointer;">
                       <a href="/profile/subscription/purchase-promo">
                           <img src="/img/slider-promo/5.99-special.jpg" title="">
                       </a>
                    </div>

                    <div class="flash-item item " id="flash-item-11"  style="cursor: pointer;">
                            <a href="/profile/subscription/purchase-promo">
                            <img src="/img/slider-promo/phone-gun.jfif" title="Текст">
                            <div class="carousel-caption">
                                <div class="h3 title">Текст</div>
                                <p class="hidden-xs hidden-sm">Главный герой — 27-летний Илья Горюнов,
                                семь лет отсидевший в тюрьме по ложному
                                 обвинению в распространении наркотиков. Когда Илья выходит на свободу,
                                он понимает, что прежняя жизнь, по которой он тосковал, разрушена...</p>
                            </div>
                            </a>
                     </div>
                     <div class="flash-item item " id="flash-item-12"  style="cursor: pointer;">
                        <a href="/profile/subscription/purchase-promo">
                            <img src="/img/slider-promo/5.99-special.jpg" title="">
                        </a>
                     </div>

                     <div class="flash-item item " id="flash-item-13"  style="cursor: pointer;">
                             <a href="/profile/subscription/purchase-promo">
                             <img src="/img/slider-promo/man-talks.jfif" title="О чём говорят мужчины. Продолжение">
                             <div class="carousel-caption">
                                 <div class="h3 title">О чём говорят мужчины. Продолжение</div>
                                 <p class="hidden-xs hidden-sm">На этот раз Леша, Слава, Камиль и Саша едут в Питер. Причем трое из четверых даже не знают,
                                  зачем они туда едут. Но в какой-то момент становится понятно, что неважно - зачем. Важно, что едут.</p>
                             </div>
                             </a>
                      </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#flash-adverts-carousel" data-slide="prev">
                    <i class="material-icons">keyboard_arrow_left</i>
                </a>
                <a class="right carousel-control" href="#flash-adverts-carousel" data-slide="next">
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
            </div>
        </div>
    </div>
    <!-- End Carousel Card -->
</div>
