<footer class="footer footer-black footer-big">
	<div class="container">
		<div class="copyright pull-center">
            {{ istring locale
                ru='Все права защищены'
                en='Copyright'
            }}
			{{{ copyright }}}
		</div>
	</div>
</footer>
