<meta charset="utf-8" />
<!-- <link rel="apple-touch-icon" sizes="76x76" href="/material/img/apple-icon.png"> -->
<link rel="icon" href="/favicon.ico" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>{{ page-title }}</title>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

<!-- CSS Files -->
<link href="/material/css/bootstrap.min.css" rel="stylesheet" />
<!-- <link href="/material/css/material-kit.css?v=1.1.0" rel="stylesheet"/> -->
<link href="/dist/css/material-kit.min.css" rel="stylesheet" />

<link rel="stylesheet" href="/dist/css/lib.min.css" />
<link rel="stylesheet" href="/dist/css/bundle.min.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.20.2/video-js.min.css" />

<link href="/bower/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
<link href="/css/autocomplete.css" type="text/css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="/bower/html5shiv/dist/html5shiv.js"></script>
  <script src="/bower/respond/dest/respond.min.js"></script>
<![endif]-->
