<nav class="navbar navbar-primary{{#if fluid}}  navbar-fixed-top  navbar-transparent navbar-color-on-scroll{{/if}}" color-on-scroll="200" role="navigation" style="z-index: 1000;">
    <div class="container">
        <div class="navbar-header" style="width: 100%;">
        <div>
                <a class="navbar-brand" href="/promo">
                    <img src="/img/logo-sv1.png" width="168" alt="Memocast" />
                </a>
        </div>
        <div>
               <ul class="nav navbar-nav navbar-right">
                   <li>
                       <a href="/promo#" id="settings-button" class="mmc-popover-triggerer" title="{{ string locale 'menu.top.settings.title' }}">
                           <i class="fa fa-cog" aria-hidden="true"></i>
                       </a>
                   </li>
               </ul>
        </div>

        </div>
    </div>
</nav>

<div id="mmc-autocomplete" class="mmc-popover-content mmc-autocomplete card card-raised" style="display: none;">
</div>

<div id="mmc-feed-popup" class="mmc-popover-content mmc-feed-popup card card-raised" style="display: none;">
</div>

<div id="mmc-video-title-popover" class="card card-raised" style="display: none; z-index: 1000; max-width: 500px;">
</div>

<div id="settings-popover" class="mmc-popover-content card card-raised" style="width: 300px; z-index: 1000; display: none;">
    <div class="card-content settings">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="title">Выберите язык / Select language</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-center">
                <div class="flag-item rounded{{#equal locale 'ru' }} active{{/equal}}">
                    <a href="/link/locale/ru"><span class="flag-icon flag-icon-ru"></span></a>
                </div>
            </div>
            <div class="col-xs-6 text-center">
                <div class="flag-item rounded{{#equal locale 'en' }} active{{/equal}}">
                    <a href="/link/locale/en"><span class="flag-icon flag-icon-us"></span></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="cb-legacy-playback"{{#if legacyPlayback}} checked{{/if}}>
                        {{ istring locale ru='Использовать старый плеер' en='Use legacy player' }}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
