{{#unless user }}
<div class="d-flex flex-column flex-md-row justify-content-center alert alert-info">
    <div class="p-2 justify-content-center">
        <a href="/signup" class="btn btn-primary">
            {{ istring locale ru='Попробовать бесплатно' en='Try it for free' }}
        </a>
    </div>
    <div class="p-2 justify-content-center">
        <span class="alert-link">
        {{ istring locale ru='Самая большая библиотека фильмов на Русском' en='Biggest Russian video library' }}
        <br/>
        {{ istring locale ru='Теперь на Roku и ChromeCast' en='Now on Roku and ChromeCast' }}
        </span>
    </div>
</div>
<hr/>
{{/unless }}
