<div id="div-comments">
</div>

{{#section "scripts"}}
<script type="text/javascript">
    var SelectedUserID = '{{ selectedUser.id }}';
</script>
<script type="text/javascript" src="/js/people/comments.js"></script>
{{/section}}