<div class="card">
    <div class="card-content">
        <div class="h2 title">{{ user-list-title }}</div>
        {{#if user-list-description }}
        <div class="h4 title d-none">{{ user-list-description }}</div>
        {{/if}}

        <hr />

        {{#users users }}
        {{> user-info . }}
        {{/users}}
        
    </div>
</div>
