<html>
    <head>
        <title>Memocast Payment Processing Error</title>
    </head>
    <body>
        <p>The credit card you submitted for a Memocast Gold Membership has been declined.</p>
        <p>Please login with your current username and password. Click on “Become Gold Member” to update your credit card information.</p>
        <p>Your account privileges have been revoked. Please update your credit card information immediately.</p>
        <p>Did you know that Memocast updates movies every day and has thousands of movies subtitled to your language?</p>
        <p>Thank you,</p>
        <p>The Memocast Team</p>
    </body>
</html>