<div class="container">
<div class="jumbotron">
    <h1>Hello, world!</h1>
    <div>
        Hello again! 
        <span class="label label-primary label-pill">My label</span>
    </div>
</div>
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        It worked. <a href="#" class="alert-link">Next step</a>
        <button type="button" class="close" data-dismiss="alert">Close</button>
    </div>
    
    <div class="card">
        <img class="card-img-top" src="http://lorempixel.com/400/200" />
        <div class="card-block">
            <div class="card-title">Awesome card</div>
            <div class="card-text">Content</div>
        </div>
        <div class="card-block">
            <a href="#" class="card-link">Link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    
</div>