<form method="post" action="/login">
    
    <input type="text" name="username" id="login" placeholder="login" />
    <br />
    <input type="password" name="password" id="password" placeholder="password" />
    <br />
    <button type="submit">Submit</button>
    
    <hr />
    <span id="facebook-login"><a href="/auth/facebook">Facebook</a></span>
    <br />
    <span id="vk-login"><a href="/auth/vk">VKontakte</a></span>
    
</form>