<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Memocast Admin</title>
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/secured">Secured Page</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    
    <div class="page">
        {{{body}}}
    </div>
    
</body>
</html>