<div class="card">
    <div class="card-content">

        <h1 class="title">About Memocast</h1>
        <hr />

        <p>
            <strong>Memocast</strong> is the biggest movie library in Russian.

            <ul>
                <li>Available on ROKU, Chromecast and AppleTV.</li>
                <li>Subscribe to watch over 200 thousand Movies.</li>
                <li>Unlimited access to our entire collection of hit TV shows and movies.</li>
                <li>Request movie at your choice</li>
                <li>Easy flat monthly rate $9.95/month</li>
                <li>Follow and get followed by other Memocast members, socialize and enjoy our Movies!</li>
            </ul>
        </p>

    </div>
</div>

{{#section "scripts"}}
<script type="text/javascript">
    $(function() {
        $('#ft-menu-about a.nav-link').addClass('active');
    });
</script>
{{/section}}
