<h1>Contact Us</h1>

<div class="h5">Вопросы? Звоните! Поможем!</div>
<h2>Viber or WhatSapp ONLY!</h2>
<p>
    +1 (408) 505-4017
    <br />
    <span class="text-warning">с 9 утра до 6 вечера (калифорнийское время)</span>
</p>

<div class="h5">По вопросам рекламы:</div>
<p>
    <a href="mailto:sales@memocast.com">sales@memocast.com</a>
</p>

<div class="h5">Вопросы, связанные с учетной записью и платежами пользователей:</div>
<p>
    <a href="mailto:info@memocast.com">info@memocast.com</a>
</p>

<div class="h5">По вопросам инвестиций и других деловых предложений:</div>
<p>
    <a href="mailto:busdev@memocast.com">busdev@memocast.com</a>
</p>

<div class="h5">Спонсорам:</div>
<p>
    <a href="mailto:events@memocast.com">events@memocast.com</a>
</p>

<div class="h5">Предложить фильмы в библиотеку:</div>
<p>
    <a href="mailto:info@memocast.com">info@memocast.com</a>
</p>

<div class="h5">Сотрудничество с прессой и/или PR:</div>
<p>
    <a href="mailto:info@memocast.com">info@memocast.com</a>
</p>

<div class="h5">Технические проблемы:</div>
<p>
    <a href="mailto:info@memocast.com">info@memocast.com</a>
</p>

<div class="h5">Почтовый адрес:</div>
<p>
    Memocast, Inc. at P.O. BOX 321198,<br />
    LOS GATOS, CA 95032-1198
</p>

{{#section "scripts"}}
<script type="text/javascript">
    $(function() {
        $('#ft-menu-contacts a.nav-link').addClass('active');
    });
</script>
{{/section}}
