<div class="card">
<div class="card-content">

<h1 class="title">Memocast, Условия пользования</h1>
<hr />

<p>
    Данные постановления и условия использования (“Условия использования”) определяют условия использования Сайта.
</p>

<p>
    1.  ЛИЦЕНЗИОННОЕ СОГЛАШЕНИЕ
</p>

<p>
    1.1. MEMOCAST, INC., в дальнейшем MEMOCAST, INC., дает Вам разрешение на просмотр телевизионного и видео контента расположенного на сайте www.MEMOCAST.com Оплата услуг MEMOCAST, INC. производится ежемесячно. Вам будут автоматически начисляться платежи $9.95 Вы в pismennom (email) виде не откажетесь от использования сервиса MEMOCAST, INC. (Вы можете сделать это в любое время) или Ваша подписка будет отменена MEMOCAST, INC.. Если Вы отказались от услуг до окончания отчетного периода, Вы обязаны оплатить только фактически указанные Вам услуги. НИКАКИХ ШТРАФНЫХ САНКЦИЙ ЗА ОТКАЗ ОТ ПОЛЬЗОВАНИЯ УСЛУГАМИ, ВНЕ ЗАВИСИМОСТИ ОТ СРОКА ИХ ИСПОЛЬЗОВАНИЯ, НЕ НАЛАГАЕТСЯ. MEMOCAST, INC. предоставляет 5 min демонстрационного доступа к контенту, расположенному на сайте. Это делается с целью дать Вам возможность протестировать качество приема видео от MEMOCAST, INC.. НИКАКИХ ОБЯЗАТЕЛЬСТВ ПО ОТНОШЕНИЮ К MEMOCAST, INC. ПРИ ДЕМОНСТРАЦИОННОГО ДОСТУПА У ВАС НЕ ВОЗНИКАЕТ. Несмотря на то, что вы можете отказаться от сервиса в любое время, Memocast не возмещает убытки, связанные с неудовлетворительным качеством приема, вызванные сбоями в работе программного и аппаратного обеспечения на стороне клиента, а именно: модемов, раутеров, ресиверов, браузеров, медиаплейеров, файрволлов, антивирусных программ, кодеков, драйверов, сбоями в работе локального Интернет- провайдера, а также неустойчивой работой самой операционной системы, вызванной последствиями заражения компьютерными вирусами, неправомерного использования less that 1.5 Mbps) for comfortable viewing of MEMOCAST, INC. service. устройств компьютера или неправомерного использования иного программного обеспечения, а так же по другим возможным причинам, не указанным выше. Ответственность за корректные настройки программного и аппаратного обеспечения для комфортного просмотра сервиса MEMOCAST, INC. на стороне клиента, а также ответственность во взаимодействии клиента с локальным Интернет-провайдером по обеспечению необходимой скорости download Интернета (1.5 Mbps) лежит на самом клиенте.
</p>

<p>1.2. Авторские права. Содержимое Сайта и система кодирования Сайта принадлежат MEMOCAST, INC. и/или ее лицензиарам и поставщикам информации и защищены соответствующими внутренними и международными законами об авторских правах. Если явно не указано на сайте MEMOCAST, INC., Вы не должны распространять, публиковать, воспроизводить, изменять, загружать, передавать, транслировать, продавать, лицензировать, создавать материалы из или на основе, распространять, рекламировать, публично демонстрировать, кадрировать, ссылаться или любым другим способом использовать Содержимое Сайта или Кодировку целиком или по частям. Ссылки на сайт кроме Домашней Страницы разрешены только при точно выраженном разрешении и соглашении с MEMOCAST, INC.. Любые права явно не предоставленные Вам сохраняются за MEMOCAST, INC.. Любое нарушение закона об авторских правах может повлечь административную или уголовную ответственность. Нарушители будут подвержены максимальному возможному наказанию.
</p>

<p>1.3. Торговая марка. MEMOCAST, INC. и www.MEMOCAST.com – торговые марки и знаки обслуживания, принадлежащие Matvil, Corp. Любой продукт, услуга или торговое название товара, отличные от принадлежащих MEMOCAST, INC. и идентифицирующие третью сторону как владельца, могут, даже если это не указано, являться знаком обслуживания или торговой маркой соответствующих организаций или частных лиц. Любое неуполномоченное использование знаков MEMOCAST, INC. запрещено.
</p>

<p>
    2. УСЛОВИЯ ИСПОЛЬЗОВАНИЯ САЙТА, ОСНОВНЫЕ ПОЛОЖЕНИЯ
</p>

<p>
    2.1 Лицензионное соглашение. MEMOCAST, INC. дает Вам неисключительное, не подлежащее передаче другому лицу отграниченное право и разрешение получать доступ и использовать этот Сайт, просматривать контент, на который Вы подписались на одном (1) компьютере, подключенном к Сайту посредством сети Интернет в любое время и в строгом соответствии с этими Условиями пользования. Вы не должны публично демонстрировать любую часть Сайта, или фильмы, или другие аудиовизуальные или цифровые материалы, доступные на этом Сайте, без письменного соглашения, подписанного сторонами, уполномоченными законно заключать контракт от имени MEMOCAST, INC.. Любое другое использование этого Сайта, включая Содержимое Сайта и Систему Кодирования Сайта, строго запрещено.
</p>

<p>
    2.2 Платные услуги. Если другое не оговорено отдельно, контент на Сайте доступен только на платной основе. Стоимость услуг опубликована на сайте www.MEMOCAST.com в разделе «Цены». Если оплата производится по кредитной карте, то услуги предоставляются в кредит. НАЧАЛОМ ОКАЗАНИЯ ПЛАТНЫХ УСЛУГ ЧИТАЕТСЯ МОМЕНТ ВЫБОРА АБОНЕНТОМ ТАРИФНОГО ПЛАНА НА СТРАНИЦЕ «УЧЕТНАЯ КАРТОЧКА КЛИЕНТА». Для доступа к этой странице необходимо пройти процедуру авторизации и далее кликнуть по ссылке «Баланс».
</p>

<p>
    2.2.1 Вы соглашаетесь оплачивать услуги MEMOCAST, INC., используя действительную кредитную карточку, принимаемую MEMOCAST, INC.. Кроме того, вы соглашаетесь оплачивать налоги и другие затраты, если таковые необходимы для оказания вам услуги, и если они зарегистрированные на Вашем счете. MEMOCAST, INC. сохраняет за собой право увеличивать тарифы, оплату дополнительных расходов и абонентскую плату или вводить новые тарифы в любое время по соответствующему письменному предупреждению, опубликованному не позднее, чем за 31 день на этом Сайте. Кроме того, информация об изменении тарифов будет отправлена каждому абоненту по электронной почте и в виде информационного сообщения, которое он увидит при очередном использовании сервиса MEMOCAST, INC.. Если MEMOCAST, INC. не может получить с Вашего счета оплату, мы оставляем за собой право отключить Вас от Платных услуг.
</p>

<p>
    2.2 В дополнение затрат, описанных ранее, Вы ответственны за все прямые и косвенные расходы связанные с использованием данной услуги на Вашей стороне. К таким расходам относиться Ваше подключение к сети Интернет, оплата телефонных и прочих счетов могущих возникнуть при подключении к данной услуге и еѐ использовании, а также прочие расходы явно не указанные в данном разделе.
</p>

<p>
    2.3 Ограничение некоммерческого пользования. MEMOCAST, INC. дает Вам право на ограниченное личное использование данной услуги не для коммерческих целей. Никакая коммерческая организация (т.е. корпорация, компания, единоличный владелец) не имеет права использовать этот Сайт без предварительного письменного разрешения для целей получения прямой или косвенной выгоды от его использования. Вы тем самым соглашаетесь не использовать Сайт, Материалы или любые элементы и части для любой коммерческой цели.
</p>

<p>
    2.4 Тип услуг. MEMOCAST, INC. предлагает услуги Сайта только для развлекательных целей. MEMOCAST, INC. не гарантирует правдивость или достоверность информации, содержащейся на данном Сайте. Вы признаете и понимаете это из-за возможности субъективной или механической погрешности, ошибок или недосмотра предоставляемых данных или информации, задержках или помехах в передаче данных или информации вследствие любых причин, а также других факторов, MEMOCAST, INC. не несет ответственности за ошибки или погрешности в информации, contained or accessed through the Site. ALL INFORMATION AND CONTENT ON THE содержащейся или доступной на Сайте. ВСЯ ИНФОРМАЦИЯ И СОДЕРЖИМОЕ САЙТА ПРЕДОСТАВЛЯЕТСЯ “КАК ЕСТЬ” БЕЗ КАКИХЛИБО ГАРАНТИЙ, ЯВНО ВЫРАЖЕННЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ, В ТОМ ЧИСЛЕ БЕЗ ОГРАНИЧЕНИЙ, ПОДРАЗУМЕВАЕМЫХ ГАРАНТИЙ ТОВАРНОГО СОСТОЯНИЯ, СООТВЕТСТВИЯ ОПРЕДЕЛЕННЫМ ЦЕЛЯМ ИЛИ БЕЗ НАРУШЕНИЙ.
</p>

<p>
    2.5 Имя пользователя/пароль. При регистрации доступа к сервису MEMOCAST, INC. Вы создаете для себя имя пользователя и пароль. Они будут использоваться для доступа к определенным частям, услугам, предоставляемых Сайтом. Вы должны хранить и обеспечивать конфиденциальность таких паролей и имен пользователя. Ваши друзья, семья, деловые партнѐры, а так же другие лица не должны пользоваться вашим именем пользователя и паролем для использования данной услуги. MEMOCAST, INC. не несет ответственности любого рода в случае неправомерного использования Вашего пароля третьими лицами. Регистрируясь на сайте www.MEMOCAST, INC..com, вы одновременно подписываетесь на новостную рассылку от компании MEMOCAST, INC..
</p>

<p>
    2.6 Сохранение прав. Любые права, явно не предоставляемые MEMOCAST, INC., зарезервированы. Вы не должны загружать, изменять, публиковать, транслировать, передавать или продавать, копировать, создавать материалы из или на основе, распространять, воспроизводить, публично демонстрировать или любым другим способом использовать Содержимое Сайта, целиком или частично без предварительного письменного согласия стороны, уполномоченной заключать контракт от имени MEMOCAST, INC., за исключением явно разрешенного данными Условиями пользования.
</p>

<p>
    3. УСЛОВИЯ, ОТНОСЯЩИЕСЯ К ВОЗМОЖНОСТЯМ ПРОСМОТРА КОНТЕНТА И МЕТОДОВ ПРОВЕДЕНИЯ РАСЧЕТОВ
</p>

<p>
    3.1. Если Вы подписались на доступ к услуге MEMOCAST, INC., Вы можете смотреть предоставляемый контент не только на одном и том же компьютере. Вы можете просматривать их на одном компьютере в одно и то же время, но Вы можете использовать различные компьютеры. Мы, однако, оставляем за собой право изменить это правило в любое время. Если это правило будет изменено, мы поставим Вас в известность об этом методами и в сроки, описанные в пункте 2.2.1.
</p>

<p>
    3.2. Условия, относящиеся к нашим платным услугам.
</p>

<p>
    3.2.1. Для начала использования сервиса на коммерческой основе клиенту необходимо предоставить данные кредитной карты или выбрать другой удобный для него метод оплаты. Предоставляя, данные кредитной карты клиент авторизирует компанию MEMOCAST, INC. ежемесячно производить снятие денег с его кредитной карты на основании счета, который будет выставлен в соответствии с выбранным тарифным планом и фактическим объемом востребованных услуг, пока Вы не попросите остановить сервис (или пока мы не решим остановиться, в любом из случаев). Таким образом, у Вас есть постоянный доступ к контенту расположенному на нашем сайте. Если Вы в какой-то момент решите аннулировать Вашу подписку необходимо перейти на «Учетную карточку клиента» и выбрать необходимую опцию. Учтите, что есть сервисы действие которых не может быть приостановлено автоматически. К таким сервисам не относиться услуга доступа к телевизионному контенту, но относиться, например, услуга доступа в Интернет.
</p>

<p>
    3.2.2. Если Вы подписались на наши Платные Услуги, мы будем списывать с Вашей кредитной карточки оплату за услуги в один и тот же день каждого последующего месяца. Например, если Вы подписались 11 марта, первый раз мы спишем с вашей карточки оплату за услуги 11 апреля, затем снова 11 мая и так далее. Если день, в который Вы подписались, находиться между 29 и 31 числами любого месяца, мы будем считать Ваш расчетным днем каждое 28 число очередного месяца
</p>

<p>
    3.3. Условия возврата денег. MEMOCAST, INC. не возвращает деньги за уже оплаченные услуги.
</p>

<p>
    4. ОТКАЗ ОТ ГАРАНТИИ; ДОГОВОРНОЕ ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ
</p>

<p>
    4.1. При обмене данными в сети и электронной передаче информации существует неотъемлемый риск, связанный с передачей любой информации в сети Интернет. MEMOCAST, INC. не гарантирует и не может гарантировать, что ее система недоступна для хакеров или вирусов, и любая информация, предоставляемая пользователями MEMOCAST, INC. не будет украдена или тайно похищена. MEMOCAST, INC. не несет ответственности или не ответственна за любые инфицирования или заражения Вашей системы или задержки, помехи, ошибки или неработоспособность, являющиеся результатом использования этого Сайта или касающиеся Материалов, содержащихся на этом Сайте. Таким образом Вы осознаете и понимаете, что такой риск неотъемлем при взаимодействии с любым Интерент сайтом, включая этот Сайт, и несете полную ответственность за вред, опасность или повреждения, возникающие в результате бреши в системе защиты. В соответствии с Правилами Использования, MEMOCAST, INC. явно отказывается от любых таких обязательств. Вдобавок, Вы соглашаетесь быть ответственным за приобретение и обслуживание программно аппаратного комплекса необходимого для доступа и использования этого Сайта и Вы несете ответственность за все соответствующие расходы.
</p>

<p>
    4.2. НЕ ГАРАНТИРУЮТ, ЧТО ЭТОТ САЙТ БУДЕТ БЕСПЕРЕБОЙНО РАБОТАТЬ И НЕ СОДЕРЖИТ ОШИБОК, ВИРУСОВ ИЛИ БРЕШИ В СИСТЕМЕ ЗАЩИТЫ; НИ MEMOCAST, INC. НИ ЛЮБОЙ ДРУГОЙ ПОСТАВЩИК ОПЕРАТИВНОЙ ИНФОРМАЦИИ ДЛЯ ЭТО САЙТА ИЛИ ИХ СООТВЕТСТВУЮЩИЕ ПРЕДСТАВИТЕЛИ НЕ ДАЮТ ГАРАНТИИ В ОТНОШЕНИИ РЕЗУЛЬТАТОВ, ПОЛУЧЕННЫХ ОТ ИСПОЛЬЗОВАНИЯ САЙТА. НЕ ГАРАНТИРУЕТСЯ ТОЧНОСТЬ, СВОЕВРЕМЕННОСТЬ И ПРОВЕРКА СОДЕРЖИМОГО САЙТА. САЙТ И ЕГО СОДЕРЖИМОЕ РАСПРОСТРАНЯЕТСЯ ПО ПРИНЦИПУ “КАК ЕСТЬ” И “КАК ЕСТЬ В НАЛИЧИИ”. MEMOCAST, INC. И ЕЕ АГЕНТЫ НЕ ДАЮТ НИКАКИХ ГАРАНТИЙ, ЯВНО ВЫРАЖЕННЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ, В ТОМ ЧИСЛЕ, БЕЗ ОГРАНИЧЕНИЙ, ГАРАНТИЙ ПРАВОВОГО ТИТУЛА, ИЛИ ГАРАНТИЙ ТОВАРНОГО СОСТОЯНИЯ, ИЛИ СООТВЕТСТВИИ ОПРЕДЕЛЕННОМУ НАЗНАЧЕНИЮ, КАСАТЕЛЬНОГО ЭТОГО САЙТА, ЕГО СОДЕРЖИМОГО ИЛИ ЛЮБЫХ ТОВАРОВ И УСЛУГ, ПРОДАВАЕМЫХ НА ЭТОМ САЙТЕ. ВЫ ЯВНО СОГЛАШАЕТЕСЬ, ЧТО ВЕСЬ РИСК ОТНОСИТЕЛЬНО КАЧЕСТВА И ИСПРАВНОСТИ САЙТА И ТОЧНОСТИ ИЛИ ПОЛНОТЫ СОДЕРЖИМОГО ИЛИ ИНФОРМАЦИИ, ДОСТУПНОЙ НА ЭТОМ САЙТЕ, ПОЛНОСТЬЮ ЛЕЖИТ НА ВАС.
</p>

<p>
    4.3. НИ MEMOCAST, INC., НИ СТОРОННИЕ ПОСТАВЩИКИ ИНФОРМАЦИИ, НИ ИХ СООТВЕТСТВУЮЩИЕ АГЕНТЫ НЕ НЕСУТ ОТВЕТСТВЕННОСТИ ЗА ЛЮБЫЕ ПРЯМЫЕ, КОСВЕННЫЕ, ПОБОЧНЫЕ, ОПРЕДЕЛЕННЫЕ ИЛИ ЯВЛЯЮЩИЕСЯ СЛЕДСТВИЕМ ПОВРЕЖДЕНИЯ, ЯВЛЯЮЩИЕСЯ РЕЗУЛЬТАТОМ ИСПОЛЬЗОВАНИЯ ИЛИ НЕВОЗМОЖНОСТЬЮ ИСПОЛЬЗОВАНИЯ САЙТА, ДАЖЕ ЕСЛИ ЭТИ СТОРОНЫ ПРЕДУПРЕЖДЕНЫ О ВОЗМОЖНОСТИ ТАКИХ ПОВРЕЖДЕНИЙ.
</p>

<p>
    4.4. БЕЗ ОТКАЗА ОТ ОСНОВНОГО ИСКЛЮЧИТЕЛЬНОГО ПУНКТА ЗАКОНА, ПРИВЕДЕННОГО НИЖЕ, НЕКОТОРЫЕ ЮРИСДИКЦИИ НЕ РАЗРЕШАЮТ ИСКЛЮЧЕНИЕ ПОДРАЗУМЕВАЕМЫХ ГАРАНТИЙ ИЛИ ОГРАНИЧЕНИЙ ОБЯЗАТЕЛЬСТВ ПО ВОЗМЕЩЕНИЮ ПОБОЧНОГО ИЛИ ПРЯМОГО УЩЕРБА, ТАК ЧТО ОГРАНИЧЕНИЯ ИЛИ ИСКЛЮЧЕНИЯ, УКАЗАННЫЕ ВЫШЕ, МОГУТ ВАС НЕ КАСАТЬСЯ. В ЭТИХ ЮРИСДИКЦИЯХ, ОТВЕТСТВЕННОСТЬ MEMOCAST, INC., СТОРОННИХ ПОСТАВЩИКОВ ИНФОРМАЦИИ И ИХ СООТВЕТСТВУЮЩИХ АГЕНТОВ ДОЛЖНА БЫТЬ МАКСИМАЛЬНО ОГРАНИЧЕНА В РАМКАХ ЗАКОНА.
</p>

<p>
    4.5 Завершение. В дополнение ко всем требованиям к сторонам, указанным далее, Вы или MEMOCAST, INC. может аннулировать или завершить это Соглашение в любое время в соответствии вспомогательными инструкциями по подписке. MEMOCAST, INC. также сохраняет право ограничивать, приостанавливать или запрещать Ваш доступ к Платным услугам полностью или частично, без уведомления, при любом нарушении или явном нарушении любой части данного соглашения. При прекращении этого Соглашения MEMOCAST, INC. на основании нарушения любой части этого Соглашения сохраняет за собой право отказать Вам в будущем в предоставлении подписки или любых Платных Услуг.
</p>

<p>
    5. ОСНОВНЫЕ ПОЛОЖЕНИЯ
</p>

<p>
    5.1. Сообщения. Сообщения предоставляются в виде объявлений на Сайте. Ваши сообщения (включая вопросы, жалобы или надлежащие уведомления) могут быть представлены в виде электронных писем или обычных писем, если не указан другой способ в этих Условиях Пользования: (i) электронные письма (email) должны быть посланы на адрес: info@memocast.com (ii) Письма и посылки курьером должны быть посланы на адрес: Memocast, Inc. at P.O. BOX 321198, LOS GATOS, CA 95032-1198
</p>

<p>
    5.2. Выбор основного закона/юрисдикции. Эти Правила Использования регулируются законом California State USA распространяются на подписанные контракты и выполняются полностью California State , не принимая во внимание противоречие принципам закона. Таким образом, Вы соглашаетесь на исключительную юрисдикцию и территориальную подсудность судам в California в случае возникновения любых и всех претензий или спорных вопросов, истолкования, исполнения или относящихся к этим Правилам Использования Сайта
</p>

<p>
    5.3. Полная интеграция. Эти Условия использования составляют полное соглашение между Вами и MEMOCAST, INC., имеющей отношение к этому сайту. Ни предварительное или одновременное письменное, устное, или электронное представление, соглашение не являются частью этого соглашения, и эти Условия Использования заменяют все.
</p>

<p>
    5.4. Письменное соглашение. Эти Условия Использования составляют письменное соглашение между Вами и MEMOCAST, INC.. Напечатанная версия этих Правил Использования и любое сообщение в электронном виде, относящееся к этому соглашению, должно приниматься в юридических и административных делах в тех же рамках и являться предметом тех же ограничений, как и другие коммерческие контракты, документы или записи, созданные и хранимые в напечатанном виде.
</p>

<p>
    5.5. MEMOCAST, INC. не предоставляет фактов или гарантий, что Материалы Сайта законные, надлежащие или доступны везде. Те, кто решил воспользоваться этим Сайтом, делают это на свой страх и риск и несут ответственность за соответствие местным законам и рамкам местных законов.
</p>

<p>
    5.6. Электронная форма соглашения. Тем самым, Вы отказываетесь от любых и всех претензий, которые у Вас могут быть основанных на электронной форме этих Правил Использования, и соглашаетесь на отсутствие подписей сторон для исполнения этих Правил Использования
</p>

<p>
    5.7. Изменения. MEMOCAST, INC. оставляет за собой право изменять это Соглашение и любые правила пользования Сайтом. Любые изменения вступают в силу немедленно после опубликования на Сайте или после распространения по электронной или обычной почте. Ваше дальнейшее использование Сайта после уведомления об изменении этого Соглашения должно признаваться принятием этих изменений. ВАШЕ ЕДИНСТВЕННОЕ ПРАВО ПРИ НЕСОГЛАСИИ С ЛЮБЫМИ ИЗМЕНЕНИЯМИ В СООТВЕТСТВИИ С ЭТИМИ УСЛОВИЯМИ ИЛИ ЛЮБЫМИ ПРАВИЛАМИ ИЛИ ИНСТРУКЦИЯМИ MEMOCAST, INC. В ПРЕДОСТАВЛЕНИИ УСЛУГ, ВКЛЮЧАЯ БЕЗ ОГРАНИЧЕНИЙ ЛЮБЫЕ ИЗМЕНЕНИЯ В СОДЕРЖАНИИ, А ТАК ЖЕ ИЗМЕНЕНИЯ В КОЛИЧЕСТВЕ И ТИПЕ ОПЛАТЫ ЗА ПЛЫТНЫЕ УСЛУГИ, ЗАКЛЮЧАЕТСЯ В АННУЛИРОВАНИИ ВАШЕЙ ПОДПИСКИ В СООТВЕТСТВИИ С ИНСТРУКЦИЯМИ ПО ПОДПИСКЕ. MEMOCAST, INC. сохраняет право изменять, приостанавливать действие Сайта или любой его части в любое время, включая доступность любой части Сайта, включая, без ограничений, Платные Услуги. MEMOCAST, INC. также может налагать ограничения на некоторые функции или услуги или ограничивать Ваш доступ к некоторым частям Сайта MEMOCAST, INC. без уведомления или ответственности.
</p>

<p>
    5.8. Стороны явно требуют, чтобы это Соглашение и все записи, документы и сообщения, относящиеся к данному документу, были составлены на English.
</p>

</div>
</div>

{{#section "scripts"}}
<script type="text/javascript">
    $(function() {
        $('#ft-menu-eula a.nav-link').addClass('active');
    });
</script>
{{/section}}
