<div class="card">
<div class="card-content">

<h1 class="title">Memocast Help</h1>
<hr />

<div class="h5">How to Pay without a Credit Card?</div>

<p>There are 3 ways to pay without using a credit card:</p>

<ul>
    <li>Money Order</li>
    <li>Personal Check</li>
    <li>PayPal system</li>
</ul>

<p>
    If you don't like providing your Credit Card information, you can prepay your annual Gold Membership with a Personal Check or Money Order and we'll give you $20 discount!
    <br />
    That's $100 for 12 months!
</p>

<p>

    No Credit Card required. Write your login name at the "Memo" part of the check, mail it to:
    <br />
    <br />
    Memocast Inc,<br />
    3575 Lehigh Drive, unit 5<br/>
	Santa Clara, CA 95051
</p>

<p>
    You will be able to enjoy your Gold Membership as soon as we receive your payment.
</p>

<div class="h5">Are there taxes or other fees in addition to $9.95 per month?</div>


<p>No, all taxes are included in the $9.95 month price.</p>
<div class="h5">How do I update my credit card information?
    <</div>

<p>
    Login to Memocast.com with your User Id and Password. After logging in, click on "My Profile" Tab. After "My Profile" menu opens, click on "My Account" and "Subscription". Fill up the new credit card form and click "Submit" button. Or click on this link if you are an existing Gold Member https://secure.memocast.com/my/updatecc.aspx
</p>

<div class="h5">How do I cancel my subscription?
</div>

</p>
Simply send an email saying "Cancel" with your login name to info@memocast.com or find user "Administrator" and send him a message - cancelation request.
</p>

<div class="h5">Technical
</div>
<div class="h5">What are the technical system requirements to watch (stream) movies?
</div>
<p>
    To enjoy our movie library update or install latest Adobe Flash Player. You can check your connection speed at http://speakeasy.net/speedtest/. You should also have DSL or Cable no less than 2.0 Mbps for maximum video quality watching experience.
</p>

<div class="h5">Freezing?
</div>

<p>
    Проверьте скорость своего интернета на <a target="_blank" href="http://www.speakeasy.net/speedtest/">http://www.speakeasy.net/speedtest/</a>
</p>
<p>
    Выберите из списка серверов "San Francisco". Удостоверьтесь, что скорость Вашего интернета выше 2 Mbps.
</p>

<div class="h5">Still Freezing?
</div>

<p>
    При просмотре фильма нажмите правой кнопкой на окно Adobe Flash Player, выберите "Settings" и уберите галочку с "Enable Hardware Acceleration".
</p>

<div class="h5">Couldn’t find a movie?
</div>

<p>
    We have special billboard where you can post and request a movie you desired to see.
</p>

<p>
    Our dedicated team will work hard to find and post that movie on Memocast.com
You will receive an email notification that your requested movie is available.
    <a href="http://www.memocast.com/browse/requests.aspx">http://www.memocast.com/browse/requests.aspx</a>
</p>

<div class="h5">How often do new movies get added to Memocast?
</div>

<p>
    We add over 1000 movies to our library every month.
</p>
<div class="h5">Does Memocast.com have any content other than movies?
</div>
<p>
    Yes, we have music videos, cartoons, home videos, serials and documentaries.
</p>
<div class="h5">How do I watch movies?
</div>
<p>
    To enjoy our movie library update or install the latest Adobe Flash Player. Macintosh and Linux/Unix users, welcome!
</p>
<div class="h5">Can I watch movies for free?
</div>
<p>
    Yes, non-member users can watch movies from the limited Holiday Collection.
</p>
<p>
    <a href="http://www.memocast.com/browse/browse.aspx?viewby=Categories&top=20268&cat=911343">http://www.memocast.com/browse/browse.aspx?viewby=Categories&top=20268&cat=911343
    </a>
</p>

<div class="h5">How do I upgrade from a Simple Member to a Gold Member?
</div>
<p>
    After having logged-in to your simple user account, click the "My Profile" tab from the tab menu. From here, click "My Profile" -> "Upgrade Account" and select the "Gold Member" ($9.95 per month). Follow the instructions to finalize your upgrade. Or simply click on this button and follow instructions.
</p>
<div class="h5">How do I write Russian using English alphabet?
</div>
<p>
    If you are having trouble finding Russian movies, follow this key to translate Russian letters to English.
</p>

<p>
    А – a<br />
    б – b<br />
    в – v<br />
    г – g<br />
    д – d<br />
    е – e, ye<br />
    ж – zh<br />
    з – z<br />
    и – i<br />
    й – y<br />
    к – k<br />
    л – l<br />
    м – m<br />
    н – n<br />
    о – o<br />
    п – p<br />
    р – r<br />
    с – s<br />
    т – t<br />
    у – u<br />
    ф – f<br />
    х – kh<br />
    ц – ts<br />
    ч – ch<br />
    ш – sh<br />
    щ – sh, ch<br />
    ъ – «<br />
    ы – y<br />
    ь – '<br />
    э – e<br />
    ю – yu<br />
    Я – ya<br />
    ай - ay<br />
    ой - oy<br />
    эй - ey<br />
    ей - ey, yey<br />
    уй - uy<br />
    юй - yuy<br />
    ий - iy, y<br />
    ый - y (yy)<br />
    яй - yay
</p>

<div class="h5">How do I create a playlist?
</div>
<p>
    Click on any movie and on the left side of the Player, you will see a "Playlist" with "+" or "-" symbols. Click one of them. Your movie will be added (or removed) to the playlist. You can shuffle your movies in the Playlist by drag and drop them.
</p>
<div class="h5">How do I view my playlist?
</div>
<p>
    On the main menu select "My Profile" and click the "My Playlist" button to see your playlist.
</p>

<div class="h5">Account/Billing
</div>
<p>
    On what date will I be charged every month? Your monthly charges depend on the day you signed up. You will be charged each month, 30 days after your signup date.
</p>
<div class="h5">How do I change my password?
</div>
<p>
    First log in if not yet. Go right to this link <a href="http://www.memocast.com/my/passwordchange.aspx">http://www.memocast.com/my/passwordchange.aspx</a> or click on the "My profile" menu and click on the "Change Password". On the "Password Change" page there are three fields and button:
</p>
<p>
    type old password in the "Old Password" field,<br />
    type new password in the "New Password" field,<br />
    retype the new password in the "Password confirm" field,<br />
    click on the "Submit" button.
</p>
<div class="h5">Can I watch streaming movies on my TV?
</div>
<p>
    After researching and testing many set top boxes, the Memocast Team is happy to announce Google TV as the winner! Memocast on Google TV takes the integration between television and the web to a whole new level of simplicity and quality. Before the integration with Google TV, the process of linking your PC to your TV was long and complicated. To watch Internet videos on your TV, you would have to use an audio-out cable, use an HDMI cable and teak your input and display settings. With our new simple setup, you can easily watch Memocast, YouTube videos or anything else on your TV without the complicated steps. Just plug GoogleTV to your TV and open www.memocast.com on the browser.
</p>
<div class="h5">Can I stream and view your movies on my Mac?
</div>
<p>
    Yes, you can stream and view our movies on your Mac. We support iPhone and iPad also.
</p>
<div class="h5">Watching Movies with Subtitles
</div>
<p>
    Just select any movie from this list
    <a href="http://memocast.com/browse/browse.aspx?viewby=Subtitled">http://memocast.com/browse/browse.aspx?viewby=Subtitled</a>
    Click on CC icon on the top right corner of the Player
</p>
<div class="h5">How many people can watch Memocast.com at the same login?
</div>
<p>
    If you are using same login from one house (make sure you are connected to the same router) you can have as many computers and devices as you want.
</p>
<div class="h5">Что такое cookies и как их чистить?
</div>
<p>
    Cookies - это файлы на вашем компьютере, в которые посещаемые вами сайты записывают для себя разнообразную информацию о вас. В вашем браузере есть возможность чистить cookies.
</p>
<p>
    <strong>Для браузера Mozilla Firefox:</strong>
    <br />
    On the menu bar, click on the "History" menu, and select "Clear Recent History...".
    <br />
    Set Time range to clear to "Everything".
    <br />
    Click on the arrow next to Details to expand the list of history items.
    <br />
    Select "Cookies" and make sure that other items you want to keep are not selected.
    <br />
    Click "Clear Now" to clear the cookies and close the "Clear Recent History" window.
</p>

<p>

    <strong>Для браузера Chrome:
    </strong>
    <br />
    Click the Chrome menu   on the browser toolbar.
    <br />
    Select "Tools".
    <br />
    Select "Clear browsing data".
    <br />
    In the dialog that appears, select the checkboxes for the types of information that you want to remove.
    <br />
    Use the menu at the top to select the amount of data that you want to delete. Select beginning of time to delete everything.
    <br />
    Click "Clear browsing data".
</p>

<div class="h5">How to change the language on Memocast.com?
</div>

<p>
    To change the language on Memocast.com you have to push on the flag on the top of the page. You can choose Russian, Armenian or All Languages.
</p>

</div>
</div>

{{#section "scripts"}}
<script type="text/javascript">
    $(function() {
        $('#ft-menu-help a.nav-link').addClass('active');
    });
</script>
{{/section}}
