<div class="card">
<div class="card-content">

<h1 class="title">Payment Options</h1>
<hr />

<p>
    Подписка на нашем сайте дает вам доступ к десяткам тысяч современных и классических фильмов на русском, армянском, грузинском, испанском и многих других языках.
</p>

<p>
    Если у вас есть учетная запись - выполните <a href="/login">вход</a>
</p>

<p>
    Если нет - <a href="/signup">зарегестрируйтесь</a>
</p>

<p>
    После регистрации нажмите кнопку "Become Gold Member" в правом верхнем углу сайта, выберите удобный для Вас способ оплаты и следуйте дальнейшим инструкциям.
</p>

<div class="title h5">Оплата банковской картой или PayPal</div>
<ul>
    <li>
        <strong>Обычная подписка.</strong> Стоимость: $9.95 каждый месяц. Срок действия: до отмены.
    </li>
    <li>
        <strong>2-х дневная подписка.</strong> Стоимость: $2.99. Срок действия: 48 часов.
    </li>
</ul>

<div class="title h5">
    Банковский чек
</div>

<p>
    Отправьте банковский чек по адресу:
</p>

<p>
    Memocast Inc,<br />
    3575 Lehigh Drive, unit 5<br/>
	Santa Clara, CA 95051
</p>

<p>
    Стоимость подписки: $100. Срок действия: 1 год.
</p>

<p>
    <strong>Важно: Укажите, пожалуйста, Ваш Логин в чеке (in the Memo area)</strong>
</p>

</div>
</div>

{{#section "scripts"}}
<script type="text/javascript">
    $(function() {
        $('#ft-menu-payment a.nav-link').addClass('active');
    });
</script>
{{/section}}
