<div class="card">
<div class="card-content">

<h1 class="title">Memocast, Inc. Privacy Notice</h1>
<hr />

<p>
     Memocast, Inc. (&ldquo;Memocast&rdquo;) values the privacy of our customers, users, members, and others who use <a href="http://www.memocast.com/">www.memocast.com</a>, and any other web sites or services owned or operated by Memocast (the &ldquo;Memocast Portal&rdquo;) (collectively or individually &ldquo;Customers&rdquo;).

</p>

<p>
    This Privacy Notice is incorporated into and is subject to the Memocast <a href="/eula">Terms of Use</a>. Your use of Memocast and any personal information you provide on the Memocast Postal remains subject to the terms of this Privacy Notice and our <a href="/eula">Terms of Use</a>. Your use of the Memocast Portal constitutes your agreement to this Privacy Notice and any future revisions.
</p>

<p>
    <strong>NOTE TO KIDS under <u>13</u> years of age:</strong> The MEMOCAST PORTAL is not FOR persons under the age of 13. If you are under 13 years of age, then please do not use the Memocast Portal &ndash; there are lots of other great web sites for you. <u>Talk to your parents</u> about what sites are appropriate for you.
</p>

<p>
    <strong>NOTE TO KIDS under <u>18</u> years of age:</strong> do not use The MEMOCAST PORTAL unsupervised. If you are under 18 years of age, then you may only use the Memocast Portal under the supervision of your parents or guardians.
</p>

<p>
    <strong>1. <i>The Information Memocast Collects</i></strong>
</p>

<p>
    <u>Any member profile information, media, video, image, comment, or any other content posted onto the Memocast Portal at your direction becomes publicly-published content, is not considered personally identifiable information subject to this Privacy Notice, and may be collected and used by others</u>.
</p>

<ul type="disc">
    <li>
        <strong>Customer Provided Information</strong>: You provide to Memocast what is generally called &ldquo;personally identifiable&rdquo; information (such as your name, email address, postal mailing address, home/mobile telephone number, credit card number and billing information, etc.) if you purchase or download media and videos, create a &ldquo;free&rdquo; or &ldquo;publisher&rdquo; membership account, or upload new media. In addition, Memocast may give you the option to provide us with certain demographic information about yourself (such as age, gender, hobbies, interests, zip code, state, and country).
    </li>
    <li>
        <strong>&ldquo;Cookies&rdquo; Information</strong>: When you visit the Memocast Portal, we may send one or more cookies &ndash; a small text file containing a string of alphanumeric characters &ndash; to your computer. Memocast uses both session cookies and persistent cookies. A persistent cookie remains after you close your browser and may be used by your browser on subsequent visits to the Memocast Portal. By using these cookies, we can &ldquo;remember&rdquo; what you&rsquo;ve done on the Memocast Portal before and this lets us personalize our site for you and save certain parts of the site or services just the way you like them. These persistent type of cookies can be removed, but each web browser is a little different, so please look through your browser &ldquo;Help&rdquo; file to learn the correct way to modify your cookies set-up.
    </li>
    <li>
        <strong>&ldquo;Automatically Collected&rdquo; Information</strong>: When you visit the Memocast Portal or open one of our HTML emails, we automatically record certain information from your web browser by using different types of technology, including &ldquo;clear gifs&rdquo; or &ldquo;web beacons&rdquo;. This &ldquo;automatically collected&rdquo; information may include your Internet Protocol address (&ldquo;IP Address&rdquo;), web browser type, the web pages or sites that you visit just before or just after the Memocast Portal, the pages you view on our site, and the dates and times that you visit.
    </li>
</ul>

<p><strong>2. <i>The Way Memocast Uses Information</i></strong></p>

<ul type="disc">
    <li>
        Memocast uses the information that we collect to operate, maintain, and provide to you all of the features and services found on the Memocast Portal. For example, when you use a credit card and input your billing information to purchase or download media and videos, we use that information as necessary to process your orders and for recordkeeping purposes. We will use your email address, without further consent, for non-marketing or administrative purposes such as notifying you of major site updates, for customer service, or to contact you for any reason regarding media you have posted.
    </li>
</ul>
<p> </p>
<ul type="disc">
    <li>
        Memocast uses all of the information that we collect from our Customers to understand the usage trends and preferences, to improve the way the Memocast Portal works and looks, to improve our marketing and promotional efforts, and to create new features and functionality.
    </li>
    <li>
        Memocast uses automatically collected information and cookies information to: (a) remember your information so that you will not have to re-enter it during your visit or the next time you visit the Memocast Portal; (b) provide custom, personalized advertisements, content, and information; (c) monitor the effectiveness of our marketing campaigns; (d) monitor aggregate usage metrics such as total number of visitors, and pages viewed; and (e) track your entries, submissions, and status in promotions, sweepstakes, and contests.
    </li>
    <li>
        Memocast will not use your email address or other personally identifiable information to send promotional or marketing messages without your consent or except as part of a specific program or feature for which you will have the ability to opt-in.
    </li>
</ul>

<p>
    <strong>3. <i>When Memocast Discloses Information</i></strong>
</p>

<ul type="disc">
    <li>
        Memocast discloses both personally identifiable and automatically collected information to affiliated companies or other businesses or persons to process such information on our behalf, provide web site maintenance and security, to enable Memocast to fulfill orders, to offer certain features on the Memocast Portal, and to assist us in improving the way the Memocast Portal works and looks, and to create new features. We require that these parties agree to process such information in compliance with our Privacy Notice, we use reasonable efforts to limit their use of such information, and we require these parties to use any other appropriate confidentiality and security measures.
    </li>
    <li>
        We share automatically collected and other aggregate non-personally-identifiable information with interested third-parties to assist them in understanding the usage patterns for certain content, services, advertisements, promotions, and/or functionality on the Memocast Portal.
    </li>
    <li>
        We may disclose Customer information if required to do so by law, or in the good-faith belief that such action is necessary to comply with state and federal laws (such as U.S. Copyright law) or respond to a court order, judicial or other government subpoena, or warrant.
    </li>
    <li>
        We also reserve the right to disclose Customer information that we believe, in good faith, is appropriate or necessary to: enforce the Memocast <a href="/eula">Terms of Use</a>; take precautions against liability; protect Customers from fraudulent, abusive, or unlawful uses; to investigate and defend ourselves against any third-party claims or allegations; to assist government enforcement agencies; to protect the security or integrity of the Memocast Portal; and to protect the rights, property, or personal safety of Memocast, our Customers, or others.
    </li>
</ul>

<ul type="disc">

    <li>
        We do not share Customer information with other, third-party organizations for their marketing or promotional use without your consent or except as part of a specific program or feature for which you will have the ability to opt-out.
    </li>
</ul>

<p>
    <strong>4. <i>Your Choices</i></strong>
</p>

<p>
    You may, of course, decline to share personal information with Memocast, in which case Memocast will not be able to provide certain services to you on the Memocast Portal. You may update, correct, or delete your member information and email subscription preferences at any time by going to the <a href="/login">log-in section</a> of the Memocast Portal.
</p>

<p>
    To protect your privacy and security, we take reasonable steps to verify your identity before granting Customer&rsquo;s member profile access or before making corrections. You are responsible for maintaining the secrecy of your unique password and account information at all times.
</p>

<p>
    <strong>5. <i>Third-party Advertisers, Links to Other Sites</i></strong>
</p>

<p>
    Memocast allows other companies, called third-party ad servers or ad networks, to serve advertisements within the Memocast Portal. These third-party ad servers or ad networks use technology to send, directly to your browser, the advertisements and links that appear on the Memocast Portal. They automatically receive your IP Address when this happens. They may also use other technologies (such as cookies, javascript, or web beacons) to measure the effectiveness of their advertisements and to personalize their advertising content.
</p>

<p>
    Memocast does not provide any personally identifiable information to these third-party ad servers or ad networks without your consent or except as part of a specific program or feature for which you will have the ability to opt-in. However, please note that if an advertiser asks Memocast to show an advertisement to a certain audience (for example, men ages 18-24) or audience segment (for example, men ages 18-24 who have viewed or purchased certain channels or videos) and you respond to that advertisement, the advertiser or ad-server may conclude that you fit the description of the audience they were trying to reach.
</p>

<p>
    You should consult the respective privacy policies of these third-party ad servers or ad networks. Memocast&rsquo;s Privacy Notice does not apply to, and we cannot control the activities of, such other advertisers or web sites.
</p>

<p>
    <strong>6. <i>Our Commitment to Data Security</i></strong>
</p>

<p>
    Memocast uses commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of your personal information. We cannot, however, ensure or warrant the security of any information you transmit to Memocast and you do so at your own risk. Once we receive your transmission of information, Memocast makes commercially reasonable efforts to ensure the security of our systems. However, please note that this is not a guarantee that such information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.
</p>

<p>
    If Memocast learns of a security systems breach, then we may attempt to notify you electronically so that you can take appropriate protective steps. Memocast may post a notice on the Memocast Portal if a security breach occurs. Depending on where you live, you may have a legal right to receive notice of a security breach in writing. To receive a free written notice of a security breach you should notify us via the following link <a href="mailto:info@memocast.com">info@memocast.com</a>.
</p>

<p>
    <strong>7. <i>Our Commitment to Children&rsquo;s Privacy</i></strong>
</p>

<p>
    Protecting the privacy of young children is especially important. For that reason, Memocast does not knowingly collect or maintain personally identifiable information or automatically collected information from persons under 13 years of age, and no part of our website is directed to persons under 13. IF YOU ARE UNDER 13 YEARS OF AGE, THEN PLEASE DO NOT USE OR ACCESS THE MEMOCAST PORTAL AT ANY TIME OR IN ANY MANNER. If Memocast learns that personally identifiable information of persons under 13 years of age has been collected or posted on the Memocast Portal without verifiable parental consent, then Memocast will take the appropriate steps to delete this information.
</p>

<p>
    <strong>8. <i>Special Note to International Users</i></strong>
</p>

<p>
    The Memocast Portal is hosted in the United States. If you are a Customer accessing the Memocast Portal from the European Union, Asia, or any other region with laws or regulations governing personal data collection, use, and disclosure, that differ from United States laws, please be advised that through your continued use of the Memocast Portal, which is governed by U.S. law, this Privacy Notice, and our <a href="/eula">Terms of Use</a>, you are transferring your personal information to the United States and you consent to that transfer.
</p>

<p>
    <strong>9. <i>In the Event of Merger or Sale</i></strong>
</p>

<p>
    In the event that Memocast is acquired by or merged with a third party entity, we reserve the right, in any of these circumstances, to transfer or assign the information we have collected from our Customers as part of such merger, acquisition, sale, or other change of control.
</p>

<p>
    <strong>10. <i>Changes and Updates to this Privacy Notice</i></strong>
</p>

<p>
    This Privacy Notice may be revised periodically and this will be reflected by the &ldquo;last modified&rdquo; notice below. Please revisit this page to stay aware of any changes. In general, we only use your personal information in the manner described in the Privacy Notice in effect when we received that personal information. Your continued use of the Memocast Portal constitutes your agreement to this Privacy Notice and any future revisions.
</p>

<p>
    <strong>11. <i>Effective Date, Date Last Modified</i></strong>
</p>

<p>
    This Privacy Notice is effective as of February 1, 2006.
</p>

<p>
    <strong>12. <i>Memocast Contact Information</i></strong>
</p>

<p>
    Please contact Memocast with any questions or comments about this Privacy Notice, your personal information, our third-party disclosure practices, or your consent choices at<a href="mailto:info@memocast.com">info@memocast.com</a>. We will respond to your inquiry within 30 days of its receipt.
</p>

</div>
</div>

{{#section "scripts"}}
<script type="text/javascript">
    $(function() {
        $('#ft-menu-privacy a.nav-link').addClass('active');
    });
</script>
{{/section}}
