

<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    Test player
                </div>
                <hr />
                <form id="player-form">
                <div class="form-group">
                    <label for="tb-video-url">Video URL</label>
                    <input type="text" id="tb-video-url" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="sel-video-type">Video type</label>
                    <select class="form-control" id="sel-video-type">
                        <option value="application/x-mpegURL">application/x-mpegURL (HLS stream)</option>
                        <option value="video/mp4">video/mp4 (HTTP download)</option>
                    </select>
                </div>
                <div class="buttons">
                    <button id="bt-apply" class="btn btn-primary">Apply</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div id="player" class="embed-responsive embed-responsive-16by9">
            Player ;)
        </div>
    </div>
</div>

<br />
<br />


{{#section "scripts"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.3.3/videojs-contrib-hls.min.js"></script>
<script type="text/javascript">
$(function () {

    var $player = $('#player');
    var $form = $('#player-form');
    var $tb = $('#tb-video-url');
    var $sel = $('#sel-video-type');
    var sources = [
        {
            type: 'application/x-mpegURL',
            src:
            'https://beta.memocast.com:1935/memocast/_definst_/mp4:2013/2/119206015.360p.mp4/playlist.m3u8',
            label: 'SD',
            res: 100
        }
    ];
    $tb.val(sources[0].src);

    var player = null;
    var displayPlayer = function (sources) {
        Memocast.loadTemplateByName('player', function (err, temp) {
            console.log(sources);

            if (player == null) {

                $player.html(temp({ videos : sources, subtitles : null }));

                player = videojs('video-player',
                    {
                        sourceOrder: true,
                        sources: sources,
                        plugins: {
                            videoJsResolutionSwitcher: {
                                default: 'low',
                                dynamicLabel: true
                            },
                            chromecast: {
                              appId: 'B68FFEDC'
                            }
                        },
                        techOrder: ['html5']
                    });
            } else {
                console.log('need reconfig player');
                console.log(sources);
                player.src(sources[0]);
            }
        }); // Memocast.loadTemplateByName('player', ...
    }

    $form.submit(function (evt) {
        evt.preventDefault();
        var item = {
            type: $sel.val(),
            src:
            $tb.val(),
            label: 'SD',
            res: 100
        };
        displayPlayer([ item ])
    });

    displayPlayer(sources);
});
</script>
{{/section}}
