.social-buttons a {
	color: white;
	opacity:0.9;
}
.social-buttons a:hover {
    color: white;
	opacity:1;
}

.social-buttons .btn-facebook {background: #3b5998;}
.social-buttons .btn-vkontakte {background: #00aced;}
