<div class="card"><div class="card-content">
<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="h2">
                    {{ istring locale ru='Восстановление пароля' en='Password recovery' }}
                </div>
            </div>
        </div>

        <!-- password recovery form -->
        <form method="post" class="form" id="recovery-form" action="/passwordrecovery" autocomplete="on">

            <div class="form-group">
                <input type="email" id="tbEmail" class="form-control" name="email"  placeholder="{{ istring locale ru='Введите свою эл. почту для восстановления пароля' en='Enter your e-mail for password recovery' }}" value="" />
            </div>

            <div class="alert alert-danger" id="recovery-form-invalid" role="alert" style="display: none;">
                {{ istring locale ru='Введите адрес своей эл. почты' en='Please enter your e-mail' }}
            </div>

            <div class="alert alert-danger" id="recovery-error" role="alert" style="display: none;">
                Error message
            </div>

            <div class="alert alert-success" id="recovery-success" role="alert" style="display: none;">
                Success message
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" id="bt-submit">
                {{ istring locale ru='Отправить'  en='Submit'}}
            </button>

        </form>
        <!-- /// password recovery form -->

    </div>
</div>
</div></div>

{{#section "scripts"}}
<script type="text/javascript">
$(function() {
    var $email = $('#tbEmail');
    var $form = $('#recovery-form');
    var $error = $('#recovery-error');
    var $success = $('#recovery-success');
    var $invalid = $('#recovery-form-invalid');
    var $bt = $('#bt-submit');
    $email.focus();

    var hideMessages = function () {
        $error.hide(); $success.hide(); $invalid.hide();
    };

    $form.submit(function (evt) {

        evt.preventDefault();

        hideMessages();

        var email = $email.val();

        // validate form
        if (email === '') {
            $invalid.show();
            $email.focus();
            return;
        }

        // sending password restore request to server
        var url = '/api/user/password-recovery';
        var data = { email : email };
        $bt.prop('disabled', true);
        $.ajax(url, {
            method: 'POST',
            data: data,
            success: function (response) {
                $success.text(response.message);
                $success.show();
                window.setTimeout(function () {
                    $bt.prop('disabled', false);
                }, 10 * 1000);
            },
            error: function (err) {
                console.log(err);
                $error.show();
            }
        });
    });
});
</script>
{{/section}}
