<h1>User Profile</h1>

<ul>
    <li><a href="/profile/history">История просмотров</a></li>
</ul>

{{#section "scripts"}}
<script type="text/javascript">
    $(function() {
        $('#sm-profile').addClass('active');
    });
</script>
{{/section}}
